[2018-10-22 14:07] hugofialho opened #3 "Error on create"
Hi @benwinding, your job is ansome! react-admin-firebase works very fine!

When i create new doc i get this error on console:
The response to 'CREATE' must be like { data: { id: 123, ... } }, but the received data does not have an 'id' key. The dataProvider is probably wrong for 'CREATE'

I tried to redirect to list instead show, but the error ocurs and not redirect.

I  struggled studing your cod

[2018-10-22 14:08] hugofialho opened #4 "Error on create"
Hi @benwinding, your job is awesome! react-admin-firebase works very fine!

When i create new doc i get this error on console:
The response to 'CREATE' must be like { data: { id: 123, ... } }, but the received data does not have an 'id' key. The dataProvider is probably wrong for 'CREATE'

I tried to redirect to list instead show, but the error ocurs and not redirect.

I  struggled studing your co

[2018-10-22 14:09] #3 closed

[2018-10-24 00:50] benwinding commented on #3
Thanks @hugofialho!

Assuming you resolved the problem, if not, let me know.

Cheers,
Ben

[2018-12-26 18:08] imikemiller commented on #4
Hi @benwinding I am getting this same issue. Is there an issue or is there a trick to the implementation?

[2018-12-26 19:11] imikemiller opened #5 "Error on opening create form"
Hi Ben, I left a comment on the open issue but then noticed it was a dupe. After some more digging it started to look like a  slightly different issue. From what I can see it appears that react-admin is expecting the ID prop and is therefore chucking an error when attempting to open the `../create` route. I have screenied the console output

![image](https://user-images.githubusercontent.com/24856

[2018-12-26 20:05] imikemiller commented on #5
Sorry JSX incorrect. Should be using <Create /> tag

[2018-12-26 20:05] #5 closed

[2018-12-29 04:47] benwinding commented on #4
Hi Thanks for checking it out,
What version of `react-admin-firebase` are you using? This may have been fixed in a later version.
Try updating to: **0.2.8** and let me know if there's still problems.
Cheers,
Ben

[2019-01-15 11:01] kdabir opened #6 "Support for filters in List"
React-Admin supports `filters` property in `List` component. When using react-admin-firebase as data provider, adding `filters` to `List` doesn't work. I checked the source and noticed `params.filter` is never used in the provider.

references:
https://marmelab.com/react-admin/List.html#filters
https://firebase.google.com/docs/firestore/query-data/queries

[2019-01-17 11:43] hasbean opened #7 "ReferenceField for nested collections?"
First thanks a lot for this beautiful creation.

I have a Users collection and within it an Addresses collection like the image below

<img width="856" alt="issuetest" src="https://user-images.githubusercontent.com/227214/51316216-033f2600-1a65-11e9-8fc4-f4df7458c5b0.png">

I'm trying to create a ReferenceField where I can get the "name" field in that user's address and be able to click through it

[2019-01-20 10:21] macscripter commented on #6
Is it planned to support filters in the next releases?

[2019-02-08 07:11] #4 closed

[2019-02-10 09:17] benwinding commented on #6
Apologies for the late reply, Filtering is now implemented in version 0.3.0.

Please let me know if there's any issues or other concerns you can see.

[2019-02-10 09:17] #6 closed

[2019-02-10 11:25] benwinding commented on #7
Hi @hasbean,

Apologies for the late reply, if I understand you correctly, you want to have _nested_ entities. As far as I'm aware, this is not an easy feature to implement using this framework, as this Stack Overflow answer suggests [1].

However, this would be very useful and I'm currently looking into a solution for this, most likely implementing a new _Field_ which reads a custom data-provider

[2019-02-10 23:56] benwinding commented on #7
After some more research, I've found that this will be very difficult to implement a general solution in which sub collections of a document could be used.

For the time being, [This article](https://docs.microsoft.com/en-au/azure/cosmos-db/modeling-data) shows some examples of how to organise your data in a _flat_ style.

I'll update this issue, when I hear back from the **react-admin** team abou

[2019-03-01 09:53] imikemiller commented on #6
@benwinding thats great thanks a lot, add a tip jar so I can buy you a beer!

[2019-03-02 12:54] imikemiller opened #10 "Cannot read property 'toDate' of null"
I am getting this error when attempting to load records that contain a null value. To recreate seed a collection with a null value and attempt to load that collection into admin.

![screenshot from 2019-03-02 11-46-54](https://user-images.githubusercontent.com/24856374/53680838-058dd480-3ce1-11e9-817e-7b0590a8454a.png)

[code]
[Code Link](https://github.com/benwinding/react-admin-firebase/blob/a4b

[2019-03-06 13:18] wezzle commented on #7
@benwinding Here is an example of what I used to get this working. React-admin already has a ReferenceField which I took as a template for creating this one. It does introduce the `classnames` and `@material-ui/core/styles` dependency.

[code]

You can then use it the same way as `ReferenceField`:

[code]

I've not really looked into editing a reference yet, as my requirement was only showing them

[2019-03-07 07:27] benwinding commented on #10
Hi @imikemiller,

Thanks for reporting this, this should be fixed in version `0.3.1`, please let us know if there's any other issues.

Cheers,
Ben

[2019-03-07 07:27] #10 closed

[2019-03-07 08:03] benwinding commented on #7
Hi @wezzle,

Thanks for sharing! That's a great start, and I'd like to use that as a base for an upcoming release (if you don't mind). The problem is, **react-admin** can't handle sub-resources (references of references):
### Won't work
[code]
But we might be able to hide that from the provider, by flattening out the resource path and not using slashes in the route, something like this.
### Might

[2019-03-07 08:08] wezzle commented on #7
Ah, sorry, appears I didn't read what the exact issue was. As I'm neither really a Firebase nor React-admin power user I've not used subcollections yet so I think I can't help you with that.

Feel free to use the code as a base.

[2019-03-07 08:08] benwinding commented on #6
@imikemiller no worries mate!
I'll think about it, but honestly I think the thank you means more to me :)
Let me know if there's any other issues or concerns,
Ben

[2019-03-28 12:08] benwinding opened #11 "Firebase Authentication??"
This should use Firebase Authentication to login!!

_Note to self: do this ^_

[2019-04-02 13:55] benwinding commented on #11
This is done!

Users are now able to login, via email and password. If they exist on the firebase authentication table. This means you can lock off the entire database with rules which only allow authenticated users

- 5726e11b0c09f4de32ae944e7932fc26ff22423e

[2019-04-08 20:54] macscripter opened #12 "createdate and lastupdate"
Hi,
Any chance to add createdate and lastupdate fields for insert/update in firebase? It would be very useful!

[2019-04-09 01:16] benwinding commented on #12
Hi @macscripter!
Yes, that's a great idea, I'm currently looking into this, but I could use some help as it's not as simple as I thought.
Have you got the document `insert/update` timestamps before using the client-side Firebase SDK?
Cheers,
Ben

[2019-04-09 08:59] macscripter commented on #12
Hi, @benwinding ,

It's very easy:

For apiCreate in firebaseDataProvider.ts:

`  public async apiCreate(
    resourceName: string,
    params: IParamsCreate
  ): Promise<IResponseCreate> {
    const r = await this.tryGetResource(resourceName);
    log("apiCreate", { resourceName, resource: r, params });
    const doc = await r.collection.add({
      ...params.data,
      createdate: firebase.fire

[2019-04-10 13:16] benwinding commented on #12
Thanks for your efforts @macscripter!
That's a nice and simple solution, I was initially thinking there was some kind of firebase native meta data we could use on the client, but it's only available from the firebase-admin...
Your solution was so simple that I just published the package as version `0.5.0`.
Please, let me know if there's any issues, or if you have any other ideas.
Cheers,
Ben

[2019-04-10 13:16] #12 closed

[2019-04-14 17:38] macscripter opened #13 "suggestion: modify HandleAuthCheck in firebaseAuthProvider.ts"
Hi,
May I suggest to modify this function adding return `Promise.reject();` ?
Reasons: the authentication is working perfectly agains firebase. However, no resource is protected once you're not logged in and try to access.... So `Promise.reject()` makes sense once the user is logged off and tries to access to a resource....

`  async HandleAuthCheck(params) {
    try {
      const user = await thi

[2019-04-15 00:01] benwinding commented on #13
Thanks for bringing this to my attention @macscripter,
The change (94d32631744b08311e88d35ebd98b1c78e2630b8) is included as version `0.5.1` which is now live, let me know if there are any issues.
Cheers,
Ben

[2019-04-15 00:01] #13 closed

[2019-04-25 08:47] monkeydri opened #14 "Import error with CRA v2 (webpack 4)"
# description

Using create-react-app v2, an error is thrown on start : "Can't import the named export 'AUTH_CHECK' from non EcmaScript module"

# workaround
add `type: 'javascript/auto',` in module section of `webpack.config.js`.

# explanation

modules with `mjs` extension are now treated differently by webpack 4 :

source : https://github.com/apollographql/react-apollo/issues/1737

Similar [iss

[2019-04-28 17:44] monkeydri opened #15 "warning thrown by webpack due to incorrect firebase imports"
Using CRA v2 and webpack 4 warnings are generated on startup :

[code]

This is because of the way Firebase is imported in [firebaseAuthProvider.ts](https://github.com/benwinding/react-admin-firebase/blob/94d32631744b08311e88d35ebd98b1c78e2630b8/src/firebaseAuthProvider.ts#L1) and [firebaseDataProvider](https://github.com/benwinding/react-admin-firebase/blob/94d32631744b08311e88d35ebd98b1c78e2630b

[2019-04-29 01:39] benwinding commented on #15
Thanks for reporting the issue, yes this is now fixed using the correct imports:

Commit: 6654e8a2612212589ad914834aff50a3f3bd84ab

`import * as firebase from "firebase/app";`

It's deployed as version `0.5.2`. Let me know if there's any other issues or requests

Cheers,
Ben

[2019-04-29 01:39] #15 closed

[2019-04-29 01:42] benwinding commented on #14
Hi @monkeydri,
Thanks for reporting this issue. Sorry I don't really understand this, would you be able to explain the issue in a little more detail? Or make a pull request to fix this?
Cheers,
Ben

[2019-04-29 08:19] monkeydri commented on #14
Well as I understood it now webpack 4 treats modules with `.mjs` extension differently, and as a result only default exports are allowed.

This is the error on standard [CRA (v2)](https://github.com/facebook/create-react-app) : https://codesandbox.io/s/723r5p804q

Will try to submit a PR this week end

[2019-05-06 18:11] jevin commented on #14
@monkeydri, any update on the PR?

[2019-05-07 03:12] benwinding commented on #14
I will also take a look at this later today too...

On Tue., 7 May 2019, 3:41 am jevin, <notifications@github.com> wrote:

[2019-05-07 05:13] jevin commented on #14
Thanks guys!

[2019-05-07 09:06] benwinding commented on #14
Fixed the issue, please upgrade to version `0.5.3` and please advise if there's any problems.

## Issue
The `.mjs` reference has been removed, so `create-react-app` won't look for it anymore.

Commit: #0bccf9b

Thanks everyone for reporting the issue! :+1:
Ben

[2019-05-07 09:06] #14 closed

[2019-05-08 21:03] bgberk commented on #11
Works great locally, but I'm not able to get it to work in production. Deployed the minimal example project with my own Firebase credentials to Firebase Hosting and Zeit Now, but both give the snackbar "Login error: invalid credentials". Maybe something with the CRA build process?

[2019-05-09 01:59] benwinding commented on #11
Hi @bgberk,
We've just fixed an issue a few days ago with `create-react-app` version `2.1.8`.
Thanks for the update, can you try using the latest version of **react-admin-firebase** `0.5.3`?
Cheers,
Ben

[2019-05-09 03:12] bgberk commented on #11
Yes, this is my package.json:
`{`
`  "name": "name",`
`  "version": "0.1.0",`
`  "private": true,`
`  "dependencies": {`
`    "react": "^16.8.6",`
`    "react-admin": "^2.9.0",`
`    "react-admin-firebase": "^0.5.3",`
`    "react-dom": "^16.8.6",`
`    "react-scripts": "2.1.8"`
`  },`
`  "scripts": {`
`    "start": "PORT=3006 react-scripts start",`
`    "build": "react-scripts build",`
`    "now-b

[2019-05-09 04:44] benwinding commented on #11
`Login error: invalid credentials`, means it could be a configuration error, so can you please try some of the following things to see if this resolves the issue:
- Check that you have connected the correct domains to your firebase project in the `hosting` tab (you need to explicitly set these, or firebase won't allow your app to connect to firestore)
![Screenshot from 2019-05-09 14-09-49](https:/

[2019-05-09 06:08] bgberk commented on #11
I agree that it's got to be a configuration error, somehow. I've done each of the things you suggested, including checking the domain (just using the generated firebaseapp.com URL at this point). Is it something about my development environment, i.e. you can get the example project hosted on Firebase? Thanks for the support.

[2019-05-11 02:24] benwinding commented on #11
It's deployed to Firebase here: [https://react-admin-firebase-1.web.app/#/posts](https://react-admin-firebase-1.web.app/#/posts)

username: test@example.com
password: test@example.com

The source code is updated at [https://github.com/benwinding/react-admin-firebase-demo](https://github.com/benwinding/react-admin-firebase-demo).

Let me know if it works out for you.

[2019-05-13 20:49] bgberk commented on #11
This is not an issue with this package-- I created a new Firebase project and deployed the original code in question without errors, so there's something wrong with the configuration in my existing project somehow. I'll continue to troubleshoot, but in case anyone else is having the same problem, it might just be best to migrate to a new project.
Thanks for the support!

[2019-05-14 04:34] benwinding commented on #11
Oh no worries!
Well, one more thing to check is the name of the exported firebase configuration in the example it used check that the configuration is correctly being read and placed into the Dataprovider.

[code]

[code]

Hope it works out anyway!

[2019-05-15 14:58] #11 closed

[2019-05-15 15:34] tfesslerCWC opened #16 "Firebase auth Username and Password prompt soft-lock-up"
With a browser, chrome or firefox, that is not authenticated to the react-admin-firebase project, initially navigating to the sites base-url of http://localhost:3000, the browser is redirected to http://localhost:3000/#/login.   When the username / Password screen is displayed, the Username and Password Fields as well as the sign in button are inactive,  there is a wait 'circle' animation over the

[2019-05-15 19:31] tfesslerCWC commented on #7
Your approach makes sense.   FWIW.. Loosing access to collections in Firestore is a big miss, defeating a major reason for using Firestore in the first place.

[2019-05-15 19:35] tfesslerCWC opened #17 "FirebaseAuthProvider - method to identify active user details - UID, Email, etc"
How does one find identify the current user logged in through the FirebaseAuthProvider Login?   Hopefully there is an easy way to access this object to obtain the current users uid and email that can be added to a new record as its created.

[2019-05-16 01:08] benwinding commented on #7
Thanks @tfesslerCWC,

I agree, which is why I spent a lot of time developing a possible solution, but ran into a many problems integrating it into the `react-admin` framework. The main problem is that `react-admin` has no concept of what a nested resource _is_. Our current options are:

- Wait for `react-admin` to implement the nested resources, but it's not likely ([see this issue](https://github

[2019-05-17 12:54] RWOverdijk opened #18 "Typings not found"
I have the same issue with react-admin so perhaps it's just something I missed but, simply running init steps and then importing ta-firebase in App.tsx gives me:

[code]

To reproduce:

1. yarn create react-app my-app --typescript
2. yarn add react-admin
3. Open App.tsx and import react-admin-firebase
4. _above ts error'._

[2019-05-17 14:33] RWOverdijk opened #19 "Root path for collections"
I have firestore set up in such a way that different "organisations" have their own root path, so I can easily restrict their access to that specific collection.

Right now, using react-admin-firebase this works:

[code]

Which is okay, but looks weird. It'd be nice to be able to set a basePath for references. I'm thinking of something like this:

[code]

Feel free to let me know if you think it's

[2019-05-18 14:39] RWOverdijk opened #20 "Query"
I decided to take a look at the code of this plugin and noticed you opted for local filtering.

The cool thing about the firebase sdk is that it already includes features to do that for you. Here's a link to the docs for simple queries: https://firebase.google.com/docs/firestore/query-data/queries#simple_queries

[2019-05-18 14:44] RWOverdijk opened #21 "Edit not working"
When directly navigating to a specific id to edit, it's not found. I think this is due to how data is loaded.

[2019-05-19 07:08] benwinding commented on #18
Thanks for checking out the project!

Yes `react-admin` has the known issue of having _no_ types for typescript integration ([see this issue](https://github.com/marmelab/react-admin/issues/250)).

However this project was written in typescript, so I've added the typings to the npm package too, in `react-admin-firebase` version `0.5.5`.

Checkout this demo project I've just released using: https://

[2019-05-19 07:44] benwinding commented on #17
Hey @tfesslerCWC,
That's a great idea, I just updated the package to version `0.5.6` which allows this functionality.
To get the currently logged in user run:

[code]

This will return the Firebase user object, or null if there is no currently logged in user.
Thanks,
Ben

[2019-05-19 07:44] #17 closed

[2019-05-19 09:00] RWOverdijk commented on #18
Hmmm no that's not working for me. Still getting

[code]

[2019-05-19 10:06] RWOverdijk opened #22 "admin.isLoggedIn = false after logging in"
I found that isLoggedIn is always set to false in redux. This means that when I try to use permissions in my <Admin /> declaration I always get sent to login.

[2019-05-19 10:12] RWOverdijk opened #23 "AUTH_GETCURRENT yields undefined"
I have a startup saga that should execute when the user is logged in. I try to check this by using the AUTH_GETCURRENT action, but the result is always undefined.

**lib/providers.ts**

[code]

**lib/sagas.ts**

[code]

[2019-05-19 15:10] RWOverdijk commented on #23
I found out that this is because you don't return the user. Also, you're not using the unsubscribe method provided by the `onAuthStateChanged`. I really need this stuff so I don't mind helping, but there's a lot of basic typescript stuff wrong, too. Perhaps it's easier if we talk on a chat somewhere 😄

[2019-05-19 15:33] RWOverdijk commented on #23
I am working around it using this code:

[code]

Which I use like so:

[code]

It works by having a collection called "user" where the id is the user's uid. Don't forget to add rules to your firestore setup:

[code]

The user document now has one key called "role" in firebase, with the string value "admin", allowing me to do this in for example App.tsx:

[code]

[2019-05-20 12:11] benwinding commented on #18
Dang! Sorry to hear that.

I just repeated you're setup and it worked for me, can you confirm if the following works:

1. `yarn create react-app my-app --typescript`
2. `yarn add react-admin`
3. Add `import { FirebaseDataProvider } from "react-admin-firebase";` to the App.tsx
4. `yarn start`

This should compile the project using the types found in the `react-admin-firebase` npm package, which are

[2019-05-20 14:37] benwinding commented on #20
True, that's possible, and probably a good optimisation feature to add to the options. The reason local filtering was originally chosen is that this package is naively pulling the whole collection anyway so might as well filter on the client too.

TODO:
- Pagination from the server (in options)
- Filtering from the server (in options)

[2019-05-20 15:45] benwinding commented on #16
Hi @tfesslerCWC,
Thanks for reporting this, but I'm unable to reproduce this on my machine (Firefox or Chrome)
Can you try with `react-admin-firebase` version 0.5.6.
Please let me know how that goes, and if possible could you make a basic project on a github repository which demonstrates the issue.
Cheers,
Ben

[2019-05-20 15:53] benwinding commented on #21
I'm unable to reproduce this, can you confirm this is still an issue and is broken for version `0.5.6`? Or create a basic github project to reproduce this?
Cheers,
Ben

[2019-05-20 15:59] benwinding commented on #19
Hi Again @RWOverdijk,
That's a great idea actually! it would allow better segregation between parts of the database. This is definitely something I want to implement.
Cheers,
Ben

[2019-05-20 17:07] RWOverdijk commented on #21
I think it was an issue before I updated. Ninja fixes everywhere 😎

[2019-05-20 17:07] #21 closed

[2019-05-20 17:08] RWOverdijk commented on #20
I understand that for sure. It's nice to use Query because it also makes your onSnapshot aware of your filters. On top of that updates will probably be visible sooner. I noticed some jumpy data because local redux state and firestore state mismatched for a bit.

[2019-05-20 17:15] RWOverdijk commented on #18
I think it's missing a step, you're not installing react-admin-firebase.

But I see you're [being a ninja again](https://github.com/benwinding/react-admin-firebase/commit/5310277b9357234f2424139df9e718d250480e52) which is cool. I like ninjas. Nice fix, thanks!

[2019-05-20 17:15] #18 closed

[2019-05-21 13:48] benwinding commented on #22
Just looking into this, it seems the AuthProvider is meant to set this not the `react-admin` framework, which is weird, oh well... [related issue](https://github.com/marmelab/react-admin/issues/1967)

How should this be implemented? How do I set `admin.isLoggedIn`, I can't find much documentation on `isLoggedIn` only [this line](https://github.com/marmelab/react-admin/blob/d04af4c28513846c1b557d8a

[2019-05-21 14:17] RWOverdijk commented on #22
By implementing the action I think. Might be related to this comment: https://github.com/benwinding/react-admin-firebase/issues/23#issuecomment-493767085

[2019-05-21 15:26] tfesslerCWC commented on #22
From the firebase perspective.... [Custom claims ](https://firebase.google.com/docs/auth/admin/custom-claims)can be set on the user account when created.  When the user logs in, the custom claims of isAdmin:true could be evaluated for application rights.

Looking at several React-admin firebase/firestore examples, when configuring the AuthProvider, params are usually passed to identify a firebase

[2019-05-21 15:28] RWOverdijk commented on #22
@tfesslerCWC Claims work with functions or a server. It's nice, but does require more infra (unless they added a UI that I'm unaware of?).

[2019-05-21 18:36] tfesslerCWC opened #24 "Custom Firebase/Firestore document name/key"
Currently, react-admin-firebase uses Firebase random generated ID's for all database entries.    For my users collection, I want to set the document ID from the params.email field.

firebaseDataProvider.TS currently uses 'collection.add()' for adding records.
For select cases it would be helpful to use  connection.doc(someVar).set(params.data)

`
   public async apiCreate(
    resourceName: string

[2019-05-22 14:31] tfesslerCWC commented on #16
Yes, I can confirm that the issue still occurs with version 0.5.6 on MacOS in Chrome, Safari and Firefox.

<img width="757" alt="screenshot2019-05-227 23 16 AM" src="https://user-images.githubusercontent.com/7083751/58182622-cbd6c500-7c62-11e9-91b6-42650c7731d1.png">

[2019-05-26 10:50] benwinding commented on #16
Thanks for responding again and reporting the issue. I'm unable to replicate this at this point, if you'd like to test the local demo in this repository and let me know if the problem still occurs on your system.

1. `git clone https://github.com/benwinding/react-admin-firebase`
2. `cd react-admin-firebase`
2. `yarn`
3. `yarn watch`
4. (open another terminal) `yarn start`

This should start the de

[2019-05-31 18:39] tfesslerCWC opened #25 "Shared initialized firebase App instance"
I am integrating react-filepond-firebase into react-admin-firebase and to share the initialized firebase.app from the react-admin-firebase library.

One approach would be to pass an initialized firebase object from the client layer that's setup in its own file, such as the example below:

store.js

This file could be imported and MyStore could be passed to the React-Admin-Firebase Library, allowin

[2019-06-01 08:32] benwinding commented on #25
That's a good idea @tfesslerCWC,

We could put an option to include the initialised firebase app instance into the data provider options. As you said, that would allow you to share the instance with other libraries.

I'm refactoring the application to include tests (to improve stability) and will fix this issue after that.

Cheers for reporting this,
Ben

[2019-06-02 00:36] tfesslerCWC commented on #25
Thanks..  Much appreciated.   This will help down the road.

If you ever consider integrating a file upload platform, please don't follow the existing examples for react-admin and firebase that leverages image conversion to a base 64 string stored in firestore. (shaking my head no)... It's a super-inefficient way to bloat firestore usage and costs.

With a shared Firebase instance, I highly recomm

[2019-06-13 15:18] fdiogoc opened #27 "ReferenceInput filter doesn't work when value is a Boolean"
[code]
error in console:
`Params.filter[key].includes is not a function`

[2019-06-14 06:13] benwinding commented on #19
Hi @RWOverdijk,
After a lot of testing this has finally been implemented in version `0.6.1`. Thanks for your patience and let me know if there's any issues.
Cheers,
Ben

[2019-06-14 06:13] #19 closed

[2019-06-14 06:20] benwinding commented on #7
@tfesslerCWC,

FYI, the recent update `v0.6.1` (to this package) has the ability to change the root path of the Firestore Connection. This means you could change this to traverse Firestore and access any nested collection.

[code]

However `ReferenceFields` of nested collections are still not possible across different levels of the database tree. Will leave this issue open for now, but I hope this

[2019-06-15 11:05] benwinding commented on #25
This issue is fixed in version `0.6.2`. Example:
[code]
Have a go and let me know!

The upload feature is on the horizon, and yes the base64 solution is easy but ugly, so I don't think I'll use that, firebase storage buckets would be the way to go!

Also, the "modified by who" field would be really great and could be implemented fairly easily, on the horizon too.

Cheers,
Ben

[2019-06-15 11:05] #25 closed

[2019-06-15 11:07] benwinding commented on #27
Hi @fdiogoc,
Thanks for reporting this, I'll check it out!

[2019-06-15 11:35] benwinding commented on #27
This should be fixed in version `0.6.3`. Assumed all input would be a string, now I know!
Let me know if there's any other issues :+1:

[2019-06-15 11:35] #27 closed

[2019-06-15 12:01] benwinding commented on #24
Hi again @tfesslerCWC,
Apologies for the delay. So I've just made an easy fix for this to accomplish what you want. Just add the "id" field to the `Create` component in your app, then you can override the random firestore document id's. Example:

[code]
This is implemented in version `0.6.4`. Let me know if this works for you.
Cheers,
Ben

[2019-06-15 12:01] #24 closed

[2019-06-15 13:49] benwinding commented on #23
Hey @RWOverdijk,

Apologies for the delay, I've been trying to get this package in a better state to include unit-tests for more reliable releases.

### Problem

This has been confusing me. Looks like I still have **a lot to learn** about:

- Redux sagas
- JavaScript generator functions: `function*` and `yield`
- The `react-admin` `authProvider` and how it wraps around the resources or something.

[2019-06-15 13:49] #23 closed

[2019-06-15 13:56] benwinding commented on #22
Hi @RWOverdijk and @tfesslerCWC,

Would you be able to confirm if this problem is fixed? As issue #23 has been fixed in version `0.6.5`.

Also, by getting the firebase User object from the `FirebaseAuthProvider`, via:

[code]

Then you can access the custom claims for the user. I'm pretty sure you can only _edit_ the claims with the `firebase-admin` npm package which is a server side package, but

[2019-06-15 16:10] benwinding commented on #16
Closing this issue for now (might be fixed by #23), let me know if it occurs again.

[2019-06-15 17:34] RWOverdijk commented on #22
@benwinding This is currently not relevant for me as I'm just using firebase itself in my sagas. Time is a pita so maybe in the future 😄

[2019-06-15 18:01] tfesslerCWC commented on #25
Great timing!!   I've been working with the a refactor of react-firebase-filepond to handle image uploading.    While the default example uploads to one folder.  This is were react-admin-firebase can make it much more powerful...

Here's a quick overview of the approach..
I've created a admin folders set of components: list, create, edit, and show.

**on the show screen**
I placed the  react-filep

[2019-06-16 01:41] benwinding commented on #22
Ok no worries :smile:,

FYI; if this helps, you can also pass a previously initialized firebase app instance into the providers now too:
[code]
I'll close this for now, and reopen it if the issue continues.
Cheers,
Ben

[2019-06-16 01:41] #22 closed

[2019-06-16 01:48] benwinding commented on #20
This relates to pr: #28 right?

[2019-06-16 02:12] benwinding commented on #25
Thanks for putting some work into this @tfesslerCWC,

It's clear that using google-storage-buckets is not a straight forward exercise, as you've certainly discovered!

In our company we use firebase and have also been through several approaches while developing our upload component. We decided to steer away from having _state_ tracked in the database, and extra cloud functions to handle uploads. T

[2019-06-16 07:02] RWOverdijk commented on #20
@benwinding A bit yeah. #28 is for the base query though, as a faster approach to the base path. Also, I needed this to prevent errors. App kept crashing because the user only has access to their own documents, but the current implementation doesn't discriminate.

[2019-06-16 21:02] tfesslerCWC commented on #25
Thanks for sharing your approach...  I'm looking forward to dropping my in-progress solution into the updated react-admin-firebase release on Monday.

I'm building a system to manage content for multiple users from multiple business units working across multiple shared project folders with anywhere from 50-250+ files.   Content maintained on Firebase Storage is auto-deployed to pre-production envi

[2019-06-17 00:10] benwinding opened #29 "Add option to enable/disable created_by and modified_by fields on documents"
As mentioned here: https://github.com/benwinding/react-admin-firebase/issues/25#issuecomment-497988353 by @tfesslerCWC,

It would be great to have `created_by` and `modified_by` fields on the document as it's created and updated.

[2019-06-17 03:16] benwinding commented on #25
Cheers for detailing your process a bit more, I think I'm getting a clearer picture of what you mean now. It sounds like your kind of syncing the files from firebase storage to firebase hosting (which is your CDN) right?

That's got the advantage of CDN caching which is nice, but from what I've seen firebase deploy's to hosting are _atomic deploys_, so don't you need to reupload _all_ files every

[2019-06-17 15:31] tfesslerCWC commented on #25
I've take a look at the updated structure and it's close.... But not quite there yet...

Approach implemented in 0.6.1:
(config.json - contains the firebase config ) - > App.JS -> FirebaseDataProvider(config.json, options)

Needed:
(config.js - contains the config and exports an initialized Firebase App)  ->  App.js ->  FirebaseDataProvider(app, options)

The initial request, was to allow for the

[2019-06-18 00:34] benwinding commented on #25
Sorry @tfesslerCWC,

The docs, haven't quiet explained this well enough, if you pass `null` to the Dataprovider and put your app instance in the options, then the `react-admin-firebase` system will use _your_ instance instead of initializing one. (example below)

[code]

The null reference was necessary for backwards compatibility. It may be removed in future versions, so everything is in the opti

[2019-06-20 00:59] benwinding commented on #16
Unfortunately I can confirm that this issue is still present in version `0.6.5`.

As @tfesslerCWC mentions, It appears to be a permissions problem, which in _Firestore's world_ means it could be authentication OR bad config OR bad document reference.

**Reproducibility**

Not sure how to precisely reproduce the problem, but will update in the future.

**Tracing of problem for future reference**

!

[2019-06-20 23:11] jereef opened #30 "Error on performing "yarn watch""
Error in console:

[code]

[2019-06-21 10:53] benwinding commented on #30
Thanks for reporting this @jereef,

Looks like it could be a node problem. It's working on my machine using node `v8.15.0`, but failing under `node 10`.

What version of `node` are you using?

A good utility to try another verison of node is [nvm (Node Version Manager)](https://github.com/nvm-sh/nvm#installation-and-update)

Cheers,
Ben

[2019-06-21 11:22] benwinding commented on #16
Update

### Reproducible?
Yes, here's how;

#### 1. Database rules

Must have the default rules on the Firestore database (which means you must log in):
[code]

#### 2. Run app

1. Install `react-admin-firebase` version `0.6.5`: https://github.com/benwinding/react-admin-firebase/commit/fd6a0fc5d58903eab9c3edfb5c07cbf9825beb32
1. `yarn watch` ... new terminal `yarn start-demo`
1. Open a new browser

[2019-06-21 18:21] jereef commented on #30
I tried several versions of node and it did not work.I solved this error downgrading the version of firebase-type to 1.2.0.
Hope that helps!

[2019-06-22 03:39] benwinding commented on #30
Thanks for the update Jermias!
We might have to tighten up the version constraints on that package. Will
check back on this after the weekend.

On Sat, Jun 22, 2019 at 3:51 AM Jeremias Fernandez <notifications@github.com>
wrote:

[2019-06-25 00:51] benwinding commented on #30
Fixed now, by using v1.2.0

[2019-06-25 00:51] #30 closed

[2019-06-25 00:52] benwinding commented on #16
This was a problem with the resource manager trying to initialize everything even if the user wasn't logged in. This should finally be fixed now in version `0.7.0`

[2019-06-25 00:52] #16 closed

[2019-06-26 12:30] benwinding commented on #29
This is implemented in version `0.7.1`

[2019-06-26 12:30] #29 closed

[2019-07-07 23:07] wyattades opened #33 "Importing 'firebase' explicitly imports ALL firebase components"
I think this imports the entirety of `firebase` in the following source files:
https://github.com/benwinding/react-admin-firebase/blob/0287eab133ea6c186fa62b04fce0c93b51aef625/src/providers/database/firebase/FirebaseWrapper.ts#L2
https://github.com/benwinding/react-admin-firebase/blob/88a15c9eacf28e698f5d71f70e09947944fdb6ce/src/providers/database/firebase/IFirebaseWrapper.ts#L3

I think the fireb

[2019-07-07 23:21] benwinding commented on #33
Thanks @wyattades,

That's a good point, there's been some refactoring in the past month and that must have slipped through. I also thought that `import * as firebase from 'firebase'` was the only line that triggered that message, but it seems `import { firestore } from "firebase";` triggers it too.

Anyway, I will update the package with a fix (to remove that firebase warning) it in the next few

[2019-07-10 15:09] benwinding commented on #33
Fixed in `react-admin-firebase@0.8.4`

Commit: 5d483b624225d594eb39653cbf7f9b4d4bb82102

[2019-07-10 15:09] #33 closed

[2019-07-12 13:32] marknelissen commented on #20
FYI and as inspiration, this is my current decorator for the dataProvider from this library to do server side sorting, filtering and pagination.
[code]
It does come with the limitation of only exact filter matches for searches.

It also needs a meta collection, containing a document per collection accessible through the data provider, to retrieve the total elements in a collection, which is update

[2019-07-15 02:56] benwinding commented on #20
Hi @marknelissen,

Thanks for sharing your solution!

It's quite annoying that Firestore currently has no way of determining the _size_ of a collection, which means you have to track that yourself in a meta collection, like you mentioned. And update that meta collection with firebase functions :disappointed:

It's also hard to get fuzzy matching in Firestore, as they only allow exact matches  :dis

[2019-07-15 10:46] marknelissen commented on #20
The fuzzy matching is a bigger issue than the size. It's only the React Admin implementation of paging that requires it. The solution is to replace the current paging List component with one with a "loading more" button, which fits better with the paging possibilities of firestore.

The closest solution, without Algolia or ElasticSearch, are the ones based on array_contains. But this requires anot

[2019-07-15 10:54] marknelissen opened #34 "Full auth functionality"
The current solution provided by this library adheres best to react admin's default flow. However, this does limit the use cases of Firebase Auth to only the e-mail+password possibility. It would be nice to have default components (custom routes, sagas, screens, etc.) to allow the use of the full Firebase Auth possibilities.

I've already done something similar using Auth0, and this works pretty w

[2019-07-16 19:59] Yingi opened #35 "TypeError: Cannot read property 'app' of undefined"
I cloned your project, followed it has it is on Your README. But I am getting this error this error

Cannot read property 'app' of undefined

src/providers/database/firebase/FirebaseWrapper.ts:34:14
On line 34 >  if (options.app) {

src/providers/database/firebase/FirebaseWrapper.ts:16:33

On line 16 >     this.app = ObtainFirebaseApp(firebaseConfig, options) as any;

The List goes on. What could

[2019-07-17 02:28] benwinding commented on #35
Hi @Yingi,
Thanks for checking out the project! This shouldn't have happened and will be fixed shortly.

**Fix using an empty object for options**
[code]

Cheers,
Ben

[2019-07-18 10:45] LaszloDev commented on #20
Firebase restricts loading a collection list (GET_LIST) if a security rule setting for one document of that list could end up being `allow read: if ...(false)`. So loading a list in such a setting requires to set the query/filter that so security rule of one document can be false.

Does this relate to the topic here?

See Firestore documentation: Rules are not filters

https://firebase.google.com/

[2019-07-18 17:38] marknelissen commented on #20
As I understand it, it is the same issue that made the OP investigate the query behaviour of the library indeed.

The more I advance with my own project, the more I'm convinced it will be impossible to find a generic solution that is compatible with the react-admin dataProvider API.

Maybe the focus of this library should shift from providing a fully generic dataProvider, to just provide the build

[2019-07-19 12:48] LaszloDev commented on #20
I do need to have a deeper look myself, but how do the other dataProvider for e.g. a REST API do separate between API query/filter calls and local search? As from what I understand this is the problem here.
Maybe you could clarify a bit more what your concerns are.

[2019-07-21 11:36] marknelissen commented on #20
I mainly have experience with the SimpleRestDataProvider, which just delegates everything to the backend call. The only reason we even need to consider client side filtering, is because the Firestore search API is too limited to handle all filtering cases.

Some of the issues:

- You can only query for a specific page if you know the last element of the previous page
- You can only do exact or ran

[2019-07-24 20:02] LaszloDev commented on #20
So one idea would be to have a separated Firebase function which does take the search query, does a server side filtering and returning the matched documents data or their keys which does can be used to propagate the list view.

As said I still didn't had time to look at the search in specific. My main concern right now is the user roles and permissions which is related to your last point: Getting

[2019-07-25 07:34] marknelissen commented on #20
@LaszloDev , why would you implement the query logic in a function? In terms of pricing, the reads are billed in the same manner as a query from the client. You also loose the security of Firebase, since the functions operate as an admin, and their reads are not affected by the security rules you define. Beyond that, the function is not capable of doing something the client can't with regards to q

[2019-07-25 07:38] RWOverdijk commented on #20
I mentioned it before, but I do like repeating myself 😄 Why not just allow base queries? That way everyone is happy. The default fetches all the things and filters what it can filter using the query, and the rest in memory. So if you need to only get documents where a specific field (or collection) matches a query you already know, you pass that to the resource.

Is it perfect? No. But it's firest

[2019-07-25 09:38] benwinding commented on #34
Hi Mark,

Appreciate the contribution, but doesn't firebase already have many different Auth capabilities besides email+password? What would **Auth0** bring to the table, if that was implemented? (seems to be a commercial product too, which makes things complicated)

Also, PR: #36 adds the [User Claims](https://firebase.google.com/docs/auth/admin/custom-claims) to the  Auth Provider, which might b

[2019-07-25 16:56] marknelissen commented on #34
Hi Ben,

I didn't mean to use auth0 instead. I meant to say that to include Auth0 in another project based on react-admin, I had to do something similar: not use the authProvider API and standard login screens, in case you had questions on how to achieve authorisation in react-admin without the authProvider.

I made a first attempt, but I'm still struggling with security issues during the redirect

[2019-07-25 21:59] mzgnr opened #37 "[...effects] has been deprecated in favor of all([...effects])"
[...effects] has been deprecated in favor of all([...effects]), please update your code

[2019-07-25 22:15] LaszloDev commented on #20
I think we are talking about the same, regards the base queries. Did had a look at your pull request and I would favor an option where the _permanent list filter_  (`<List filter={{ "state": "published" }} />`) is used for building the query. There by the Firestore query can be set dynamically based on the _permissions_ of the logged in user.

Will submit in a merge request with my proposal tomorr

[2019-07-25 22:49] mzgnr opened #38 "Function DocumentReference.update() called with invalid data. Unsupported field value: a custom File object"
Function DocumentReference.update() called with invalid data. Unsupported field value: a custom File object

[2019-07-25 22:49] mzgnr commented on #38
Fileupload not working

[2019-07-25 23:03] benwinding commented on #38
Can you please provide more information?

What does the resource structure look like that you're working with? Could you share some code?

[2019-07-25 23:05] benwinding commented on #37
This warning has been present for a while, not entirely sure how to fix this. It seems it could be related to using redux, as described in [this issue](https://github.com/redux-saga/redux-saga/issues/960).

[2019-07-25 23:08] benwinding commented on #34
Ah, ok fair enough. I haven't personally tried any other Authentication methods, but it's probably worth looking at.

Is that a reference to the [FirebaseUI Web](https://github.com/firebase/firebaseui-web) project? That might be a good additional component to add to this library.

[2019-07-25 23:11] mzgnr commented on #38
[code]

[2019-07-25 23:14] #37 closed

[2019-07-25 23:26] benwinding commented on #20
Thankyou all for your input. I like the idea of a _base_ or _permanent_ filter which is applied to the list in the background (possibly changed by permissions). This would reduce reads considerably and narrow down the local client filtering.

Another idea could be toggling **Local** (fuzzy matching) or **Server** (exact match) for the search box on the list.

It's hard to accept that there's no wa

[2019-07-25 23:35] benwinding commented on #38
Ah, you discovered a limitation. Currently this package doesn't support `<FileField />` within the `<ArrayInput/>` fields.

It should definitely be supported, so I'll try and implement this in the next few days.

[2019-07-26 06:09] marknelissen commented on #34
Yes, that's the one.

[2019-07-26 06:20] marknelissen commented on #20
There is a soft variant of the fuzzy matching, in the form of a startWith formula, as described in the first answer here: https://stackoverflow.com/questions/46642641/sql-like-operator-in-cloud-firestore .
`ref.collection('user').orderBy('name').startAt(name).endAt(name+'\uf8ff')`
or
`ref.collection('user').where('name','>=',name).where('name','<=',name+'\uf8ff')`

The main downside is that this c

[2019-07-26 08:12] LaszloDev commented on #20
Have a look at my pull request (https://github.com/benwinding/react-admin-firebase/pull/39) regards the "base" query / permanent filter which allows to work with restricted collections.

[2019-07-27 11:13] mzgnr commented on #38
@benwinding i can help you if you tell me which lines to look at, i can implement it

[2019-07-30 07:57] mzgnr commented on #38
@benwinding btw, multiple file option is also not working

[2019-07-30 22:39] benwinding commented on #38
Hi @mzgnr,

The original issue should be fixed in `v0.8.6`, so `<ArrayInput />` works with `<FileInput />` (one level of nesting at this stage).

I wasn't aware there was a _multiple file option_ on the FileField and will need to check this out later.

Cheers,
Ben

[2019-07-31 07:44] mzgnr commented on #38
Thanks for the update. I switched to my own client library and implemented these features.

[2019-07-31 07:44] #38 closed

[2019-08-03 15:42] Input8 opened #40 "DateTime and Date gets updated as string instead of timestamp"
On any form with Date or DateTime input fields data usually is set as timestamp. This works as long as there is new input (like on a create form or and edit form as long as you actually edit these fields). It happens that if you don't change the input of these fields  it gets updated (which it shouldn't in the first place as it wasn't changed) and gets updated as string.

[2019-08-03 21:38] rizals opened #41 "Installation can't complete"
please your support can't success for installation, I'm follow step by step user guide but can't success you can see picture below :

![error](https://user-images.githubusercontent.com/26091118/62416018-0d71ec00-b666-11e9-8b25-81b6789908f5.jpg)

![error 2](https://user-images.githubusercontent.com/26091118/62417095-12409b00-b67a-11e9-8437-b7d6b9e6d3bc.jpg)

[2019-08-04 05:44] wprk opened #42 "Multiple Image / File uploads from zero indexed array"
Hi Ben,

Firstly just want to say a huge thank you for this library. Has enabled me to build out an admin panel for my firebase app really quickly.

I've noticed you've recently added file upload support for multiple files and it's working using the following format:
[code]

Which stores the resulting data like this:
[code]

I was hoping instead to use the following format:

[code]

[code]

I'm go

[2019-08-04 18:04] #41 closed

[2019-08-05 02:13] benwinding commented on #42
Hi @wprk ,

Thanks for checking out the library, appreciate your contribution too!

To be honest, I was unaware that the multiple attribute existed on the `FileInput/ImageInput` fields. Your idea looks great, thanks for helping us out!

Cheers,
Ben

[2019-08-05 02:16] benwinding commented on #40
Hi @Input8,

Thanks for checking out the library, not sure I can understand your issue though, can you elaborate a bit more with an example perhaps?

Just some background, Firestore does not allow a `Date` object to be stored in the database, and will automatically convert it to a `Timestamp` object when it is sent to the database.

Let me know some more details and I'll try and help out.

Cheers,

[2019-08-05 02:17] benwinding commented on #41
Hi @rizals,

Did you get the cloned repository working? Let me know if you need any help :+1:

Cheers,
Ben

[2019-08-07 08:39] #42 closed

[2019-08-08 02:30] benwinding commented on #40
Okay, upon closer inspection it seems you're saying that the default input for a `Date` or `DateTime` is entered as a string, if no input is given to the form.

This is a good point, and perhaps `null` should be passed into the property instead of a string, which would remove the value from the Firestore document. I'll look at implementing this and update this issue :+1:

[2019-08-19 16:31] kovzone commented on #34
Thank you for your super awesome work @benwinding !! The sign-in through email and password works perfectly.

But how about the other sign-in methods like google sign-in? Is it possible?

Thank you!

[2019-08-30 11:47] owocowyy opened #45 "Sorting numbers"
I have number of votes stored in firestore document as a number field `votes: 123` but I'm unable to properly sort those values. Datagrid always looks at the first digit on the left side.
[code]

Example result of ASC sort:
12
132
1900
22
3
800
9

I even created custom field to cast it to number
[code]
Still same result.

[2019-08-31 07:28] benwinding commented on #45
Hi @owocowyy,

Thanks for checking out the package, yes that seems annoying. I've just pushed a fix which allows numbers to sort correctly.

Please try the updated package **react-admin-firebase@0.8.8** and let me know if there's any issues.

Cheers,
Ben

[2019-08-31 07:28] #45 closed

[2019-09-09 09:54] LaszloDev opened #46 "Update to React-Admin v3"
React-Admin planning to release v3 this summer. Right now they are finalizing the alpha and started to preparing the migration guide.
Are there any plans to start migrating this package to work with v3? I did a quick check yesterday and there are some breaking changes that will be impacting this package.

https://github.com/marmelab/react-admin/releases

Next branch: https://github.com/marmelab/re

[2019-09-11 10:45] LaszloDev commented on #34
React-Admin does already provide you with all the needed logic, we just need to prepare the AuthProvider to be able to differentiate between the different logic methods.

I started to work on extending the auth (https://github.com/benwinding/react-admin-firebase/pull/47) and opening for other Firebase authentication methods. Im testing it right now on our test system and will try to finalize it in

[2019-09-12 06:44] #40 closed

[2019-09-15 08:11] dragonkhoi opened #48 "Altering Firebase On Create"
Hello, I'm trying to make a simple sign up app using react-admin and react-admin-firebase. My Firebase has a document of time slots, each with the timestamp and a bool whether it is filled or not. I have another document of signups, and am using the Create function to create new signups which contain a name and a timeslot. In Create for a new signup, it takes a ReferenceInput to a timeslot. I can

[2019-09-16 01:47] benwinding commented on #48
Hey @dragonkhoi,
Thanks for checking out the package. This might be solved using pieces from the base `react-admin` framework. [This article](https://marmelab.com/blog/2018/08/27/react-admin-tutorials-custom-forms-related-records.html) explains how to add custom save buttons and  popups etc. Does this help for your problem?
Cheers,
Ben

[2019-09-18 06:45] dragonkhoi commented on #48
Incredible. Was looking through this earlier and didn't know if it was what I was looking for. Thank you for confirming. After spending time with it, I've implemented a custom onSubmit in a custom SimpleForm component. Thanks.

[2019-09-18 06:45] #48 closed

[2019-09-19 21:06] josecarballoGL opened #49 "Is working?"
Hi there,

I am following the README to connect to real-time updates to the database using FirebaseRealTimeSaga, but when changing data in the Firebase console, my react-admin-firebase dashboard doesn't automatically update the data.

Also, to test this, I open two tabs in my browser: https://benwinding.github.io/react-admin-firebase-demo/#/comments

Then edit a comment or add a new one in of the

[2019-09-25 16:54] keylook opened #51 "Wrong type stored in Firebase on Edit"
Hi, I don't have much experience with JS or React so my question might not be exactly related to the library implementation but in my previous version of admin panel (without this library) everything worked correctly.

I have a simple form with text input. The source of this field is Number in Firebase, but on edit value from input is passed as String. On edit action the type is being changed to S

[2019-09-25 16:59] #51 closed

[2019-09-26 01:02] benwinding commented on #51
Did you get this working? Cheers for checking out the package anyway!

[2019-09-26 05:37] keylook commented on #51
@benwinding yes. As I suspected the issue had nothing to do with the library itself. An obvious answer was in the question. I expected **Number**, but was using **Text**Input. I changed it to `NumberInput` and it worked as expected.

[2019-09-29 07:58] x5engine opened #52 "getAbsolutePath returns wrong path"
HI there,
getAbsolutePath returns wrong path which lead to resource not found then collection of undefined.
https://github.com/benwinding/react-admin-firebase/blob/dee10e43048aa23b148d5efdd7b03ea2ff3a3606/src/misc/pathHelper.ts

my config is like so:

const options = {
  logging: true,
  debug: true,
  rootRef: 'root_collection/GXLak3jr1WMSN8SGijoH',
  watch: ["posts"]
}

https://github.com/benwin

[2019-10-10 17:47] nsdub opened #53 "Map custom field to id?"
React-admin queries on the basis of the `id` of a record. My records instead use `uid`. I'd like to map `uid` to the `id` field. How might I accomplish this?

[Here's](https://github.com/marmelab/react-admin/issues/142) this same question asked on the react-admin repo and the maintainer states that this should be handled by the REST client.

[2019-10-11 00:08] nsdub commented on #53
For future folks facing the same issue, you'll want to modify `ResourceManager`, specifically [this line](https://github.com/benwinding/react-admin-firebase/blob/2746d43c26da35b57203796ca78dd083818c4e29/src/providers/database/ResourceManager.ts#L109).

(I ended up forking and hardcoding a solution to fit my needs.)

[2019-10-11 00:08] #53 closed

[2019-10-16 11:02] benwinding commented on #53
@nsdub Thanks for checking this out, did you get a working implementation by changing that line? I could add it as a flag in the configuration object if you'd like.

[2019-10-16 11:05] benwinding commented on #52
@x5engine Thanks for reporting this :+1: That's embarrassing, I'll look right into it

[2019-10-16 11:14] benwinding commented on #52
What version are you running? It seems to work as expected on the latest version ... `0.8.10`

Please let me know a reproducible case, and I'll look into it a bit more

[2019-10-16 15:00] x5engine commented on #52
thanks for the response! this is the latest version! I don't know what happened but seems it's finding the right path...

[2019-10-16 22:15] benwinding commented on #52
Great to hear, if theres any other issues, let me know!

[2019-10-16 22:15] #52 closed

[2019-10-19 21:03] santoshgistto opened #54 "how to use custom file upload input ?"
How can i use custom input file upload component  instead of react-admin one ?

[2019-10-20 00:35] x5engine commented on #52
it's not finding the right path! this is not solved sorry for that typo! @benwinding  please test it

[2019-10-25 08:34] tai-x commented on #49
Hi @benwinding, does this works for you?

[2019-10-29 15:28] #54 closed

[2019-10-30 11:22] benwinding commented on #35
Should be fixed with version `0.8.11` :+1:

[2019-10-30 11:22] #35 closed

[2019-10-30 11:28] benwinding commented on #46
Hi @LaszloDev,

Yes sounds good, maybe we could version up the npm library to 3.0 to be inline with the `react-admin` versioning (and easier for users).

I'll keep this branch here for version 3 upgrades if anyone wants to contribute:

https://github.com/benwinding/react-admin-firebase/tree/upgrade-to-react-admin-v3

Cheers,
Ben

[2019-10-31 09:07] zhouhao27 opened #56 "Any example on how to upload an image to Firebase storage"
I'd like to now how to upload an image to the Firebase storage and use the returned url in ImageField? Thanks.

[2019-10-31 09:57] zhouhao27 opened #57 "How realtime works?"
I'm wondering how realtime works. For example, I have a data collection call `news`. How to monitor it and get notified if there is a new update.

[2019-10-31 14:53] zhouhao27 commented on #56
I think you save everything into firebase storage.

[2019-10-31 14:53] #56 closed

[2019-10-31 14:57] zhouhao27 opened #58 "Package not build when I fork your repository"
I'm trying to migrate to react-admin v3. So I forked your repository. After that, when I `yarn add  https://github.com/zhouhao27/react-admin-firebase`, the result is:

<img width="222" alt="Screenshot 2019-10-31 at 10 55 46 PM" src="https://user-images.githubusercontent.com/8099731/67958135-9da5da00-fc31-11e9-9198-11e476b85c0d.png">

But when I `yarn add react-admin-firebase`, the result is:

<img

[2019-11-03 03:56] benwinding commented on #58
Hi @zhouhao27,
The reason it wasn't working, was that the **dist** folder, was not tracked in git. So I just added it the repository.

It should work now, if you pull in the changes from this repo to your fork. You should be able to use the command.

`yarn add https://github.com/zhouhao27/react-admin-firebase`

Cheers,
Ben

[2019-11-03 03:56] #58 closed

[2019-11-03 03:59] benwinding commented on #57
There was some issues getting the RealTimeSaga working, I don't have time to look in to it now, but you can have a look and see if you can get it working if you want :+1:

[2019-11-04 01:43] zhouhao27 commented on #57
@benwinding Thanks for your reply. I just know the `ra-realtime` is removed in 3.0. Maybe there is something one in `Firebase` side.

[2019-11-04 03:11] zhouhao27 commented on #58
Great, thanks! I though should publish to npm repository.

[2019-11-04 21:15] 0zguner opened #59 "High Reads"
I have around 5000 records. Reads climbs up 5K everytime opening dashboad

[2019-11-04 22:36] benwinding commented on #59
Yes that's true, this library pulls the whole collection on load.

We may implement a feature to allow paging (using the firebase sdk `limit` feature) but the trade-off is that you lose fuzzy searching (each search needs to be an exact match on a field...

[2019-11-16 20:40] LaszloDev commented on #46
Hey @benwinding,
thanks for providing a new branch. Could you create a GitHub project for it, so we can keep track of the tasks needed to be done for v3.0 as a milestone?

[2019-11-16 20:45] LaszloDev commented on #59
I'm suggesting to two things:
- Provide a setting to only lazy load the amount of items per page that are set by the "Rows per page" option.
- Optionally: if the lazy load is activated, note the user, when entering a search query, that all data will now be loaded and can locally searched

This way we can reduce the amount of data loading, because some users even don't have the search activated.

[2019-11-16 21:01] LaszloDev opened #60 "Prettier rules"
hey @benwinding, would you be open to add some prettier rules to the project, so we have a definition for the code formatting?
The project does missing some consistency of the code formatting in few files. Like ' or " quoation or spacings. A prettier config would set a default with we can agree on and so have a common stying definition when contributing to the package.

I can open a PR if you are

[2019-11-17 02:55] benwinding commented on #60
Hi @LaszloDev,

Great idea, added `.prettierrc` in commit: 4fcd77b099309ced4e554d2825376997697a59d7

If you want you can submit a PR to update it and ensure consistent formatting.

Cheers,
Ben

[2019-11-17 02:55] #60 closed

[2019-11-17 03:27] benwinding commented on #46
Hey @LaszloDev,
Great idea, I've added a project to track the progress here:

https://github.com/benwinding/react-admin-firebase/projects/1

The hardest thing to change is probably the AuthProvider. [They've removed actions](https://github.com/marmelab/react-admin/blob/next/UPGRADE.md#no-more-redux-actions-for-authentication), which our implementation relies on (USER_LOGIN, USER_LOGOUT, USER_CHECK

[2019-11-17 03:46] benwinding commented on #59
That's a good point @LaszloDev, lazy loading would solve this issue.

There are 2 road blocks to implementing this though.

1. **Pagination count** - Firestore, doesn't allow you to query the size of a collection, so we have no idea how many pages in the table there are.
![image](https://user-images.githubusercontent.com/11782590/69002644-1cde2200-0943-11ea-88ac-d51eca366c65.png)
To solve this, we

[2019-11-17 18:45] horsejockey commented on #7
Is there a way to dynamically allow the user to change the root reference? I have a bunch of organizations and it would be nice to toggle between them from a dropdown and see their nested collections.

[2019-11-18 08:22] SangilYun opened #61 "pagination doesn't seem to work with filter"
Hi!
first of all thank you for making this awesome package. It makes my life a lot easier
But one thing i noticed using react-admin and react-admin-firebase is that when using filter, pagination seems to not working.

Below is an example captured from demo app (https://react-admin-firebase-1.web.app/#/posts)
![image](https://user-images.githubusercontent.com/35569652/69035414-f7c2df80-0a26-11ea-96

[2019-11-19 12:09] punov commented on #56
Same question

[2019-11-24 21:03] mlipscombe opened #62 "ability to disable metadata"
Currently, several metadata fields are automatically created/updated, like `createdate`, `lastupdate`, `createdby` and `updatedby`.  This leaks information (for example, the email addresses of admin users) into documents that may be publicly accessible, and should be able to be disabled.

I can make a PR to add an option like `nometadata` if that would be acceptable.

[2019-11-24 22:58] benwinding commented on #62
Hi Mark,

That's a great idea, there should be an option to switch that functionality
off at least.

Male a PR and I'll deploy it as soon as I can.

Cheers,
Ben

On Mon, 25 Nov. 2019, 7:33 am Mark Lipscombe, <notifications@github.com>
wrote:

[2019-12-01 17:46] LaszloDev commented on #46
v3 migration:
`ra-realtime` has been removed - https://github.com/marmelab/react-admin/pull/3908#issue-334448261

Please add that to the project

[2019-12-04 00:30] nsdub opened #68 "Support for initialValues prop in Create?"
React-admin lets you pass in an `initialValues` object to `<SimpleForm>` to specify a set of default values when creating a record ([ref](https://marmelab.com/react-admin/CreateEdit.html#default-values)).

Does `react-admin-firebase` contain support for the `initialValues` prop?

In my project, the object passed to `initialValues` is ignored. Example:

[code]

We'd expect the newly created record

[2019-12-04 00:51] benwinding commented on #68
Hi @nsdub

Currently this feature is not implemented.

But `react-admin-firebase` automatically creates the following fields in the Firestore document:

[code]

Hope this helps, we'll hopefully get to a few of these issues in the coming weeks.

Cheers,
Ben

[2019-12-04 10:04] nsdub commented on #68
Thanks for the note, Ben. As a temporary workaround, I'll just go ahead and use disabled fields with default values. And thank you for this package -- it's saved me a ton of heartache

[2019-12-17 13:17] AsamShanBD opened #69 "modify/restrict login"
I have a bunch of users, only some should have access to the admin page, is there a way to do a check in a users collection for the admin flag before signing in?

[2019-12-17 15:09] AsamShanBD commented on #69
I only need 1-2 users access the resources, so I guess alternatively I could just use permissions to restrict all the content if it is not one of those users logged in?

[2019-12-27 10:04] agentlewis commented on #59
Firstly 🙌🙏🤗 for the great work so far! I'm very much looking forward to using this in my first personal project in an age!

Ok so I went through the code and I think I have  an idea of how it works. Can I clarify if these two understandings are correct:

 - All data once fetched from firestore is stored in the redux store inside react-admin.
 - The lazy search function is operating on the data in

[2019-12-27 14:50] benwinding commented on #59
Hi @agentlewis,
Thanks for your interest in the project!
Yes, you've discovered the limitations of Firestore and consequentially this library. The only way to search documents in Firestore is either:

- Pull the entire collection and search it on the client (High reads, not performant).
- Use strict searching through the firestore query api (No fuzzy searching)

  So I could then go "\@Invoice #pa

[2019-12-28 01:39] agentlewis commented on #59
@benwinding I thought about this some more overnight and here is what I came to.

I would be planning to use this firebase provider during development of my initial MVP and then plan to switch to some scalable graphql based backend later as I worked towards a V1.0 release of my app. Most likely [postgres + elixir + absinthe](https://github.com/absinthe-graphql/absinthe).

There are a few reasons f

[2019-12-28 02:56] agentlewis opened #70 "Meta Programming (@Collection & #Tag Search)"
Ever since I used the Toggl timer bar and Slack search I have wished for the @Account #Topic search functions to become a dev standard.

I wrote about this idea in https://github.com/benwinding/react-admin-firebase/issues/59#issuecomment-569374139

eg searching in:

### Toggl timer bar with Projects and Tags but with out the @ and # drop down feature in the general text area. (incidentilly github

[2019-12-28 09:50] LaszloDev commented on #69
Can you specify this

Do you want to prevent / allow only specific users to login? Or do you want to allow login, but restrict access to collections?

[2019-12-28 09:54] LaszloDev commented on #20
Resolved due to #39

[2019-12-28 09:54] #20 closed

[2019-12-28 09:58] LaszloDev commented on #49
We are preparing the library to be compatible with React-Admin v3 - which did remove the real-time functionality. So there are no plans in the moment to look more into this issue.

[2019-12-28 10:00] LaszloDev commented on #57
@zhouhao27 as you mentioned React Admin v3 removed the `ra-realtime`. As soon as this library is compatible, we can check if there are other possibilities to implement that. Can this issue be closed in the mean time?

[2019-12-28 10:01] LaszloDev commented on #61
I do see an issue with the search generally. As soon as we moved to Support React Admin 3, I will have a look and see if I can find the problem.

[2019-12-30 08:37] AsamShanBD commented on #69
I only want specific users to be able to login if possible

[2019-12-30 08:38] AsamShanBD commented on #69
I only want to allow specific users to log in if possible

[2019-12-30 13:08] LaszloDev commented on #69
We would need to add a check at login if that user is allowed to login. I saw that the old ra-firebase library used to set a flag at the user data in the database. That would be a feature request.

[2020-01-03 07:45] AsamShanBD commented on #69
Thanks for this, I think that if there is enough interest this would be a good feature to implement

[2020-01-05 00:11] dhstack opened #72 "Add this project to react-admin docs"
There's a list of DataProviders in the react-admin docs. It might be a good idea to put this project in there as it's the most active and popular. It would help to make this project more visible too.

https://marmelab.com/react-admin/DataProviders.html

[2020-01-05 00:11] dhstack commented on #72
I assume you'd need to reach out to marmelab directly to get it added there.

[2020-01-05 08:33] steurt commented on #72
@dhstack I agree. Though I think it would be wise to wait until the `react-admin` v3 is finished and available. So it won't end up in the section:

When v3 is available, one can simply create a pull request on `react-admin` with a change to the docs.

[2020-01-05 16:36] LaszloDev commented on #46
To check out the beta release with `react-admin` support in your local project:
`yarn add github:benwinding/react-admin-firebase#upgrade-to-react-admin-v3`

[2020-01-05 16:52] LaszloDev commented on #46
@simonbuerger thanks again for your work.
I was not able to change the target branch for your pull request to the local `upgrade-to-react-admin-v3`, so I guess we have to create a new pull request so we can work together on finalizing it, as I would like to make some more changes, at least regards the readme before merging it to the `master`. Please check if you can change the target branch, other

[2020-01-24 10:41] simokhalil opened #73 "Upload in nested fields : Function DocumentReference.set() called with invalid data. Unsupported field value: a custom File object"
Hi there,

Thank you for this awesome plugin !

I am stuck when I try to upload files in nested objects, I get this error :
`Function DocumentReference.set() called with invalid data. Unsupported field value: a custom File object`

My structure is as follows :

[code]

It'd work fine if my structure was like :
[code]

After a little bit digging into it, I think the problem is that the `parseDataAn

[2020-01-24 12:25] simokhalil commented on #73
Fixed in PR #74

[2020-01-27 11:39] valentinalexeev commented on #46
Dear @LaszloDev, I have created my own AuthProvider for v3 that follows the new spec and also relies on FirebaseUI for the logic of providers/methods/etc...

See https://gist.github.com/valentinalexeev/594fb2e1268851c60a9252b777655a63

I can also create a pull request if you find it useful.

[2020-01-31 01:08] dhstack commented on #68
@nsdub It looks like this feature is implemented in https://github.com/benwinding/react-admin-firebase/pull/67 and in the https://github.com/benwinding/react-admin-firebase/tree/upgrade-to-react-admin-v3 branch

[2020-01-31 01:16] dhstack commented on #62
I agree this would be beneficial. Or even being able to pass an array of fields you want to use (in case you want `lastupdate`, but not the `updatedby`, for example). I'm also an advocate of changing the names to be camelCase for easier readability. Like this:
- `createdate` -> `createDate`
- `lastupdate` ->`lastUpdate`
- `createdby` -> `createdBy`
- `updatedby` -> `updatedBy`

[2020-02-02 20:26] dhstack opened #75 "Filter doesn't work with nested objects (Firestore maps)"
react-admin has the ability to use a reference to a Firestore map by using something like:
`<TextField source="author.firstName" />` (as briefly documented in [the docs](https://marmelab.com/react-admin/Fields.html)).
or
`<ReferenceField label="Organization" source="organization.id" reference="organizations">`

When trying to do this with a filter, it doesn't work.
[code]

This is the URL that's g

[2020-02-02 23:23] dhstack commented on #24
@benwinding For some reason the custom document id isn't working when using react-admin's `FormDataConsumer` to prepopulate the field based on other values entered into the form. It works as you describe with just a regular `TextInput` though.

Here's what I'm trying to do:

[code]

Basically, I want the document id to be programId, week, and day concatenated as the document id: `programId_week_da

[2020-02-03 14:21] dhstack commented on #24
Figured it out!

I needed to be using the `useForm` hook from `react-final-form` as [documented here](https://marmelab.com/react-admin/Inputs.html#linking-two-inputs), and `onChange` and `react-final-form`'s `getFieldState`. For example, this goes on the field that is updated:

[code]

[2020-02-07 17:51] dhstack opened #76 "Extra 'id' field created in Firestore when setting a custom document id"
There's an extra `id` field that's created in a Firestore document when a custom document ID is set as described [here](https://github.com/benwinding/react-admin-firebase/issues/24#issuecomment-502360662).

![image](https://user-images.githubusercontent.com/2013388/74052391-c7e10380-49a7-11ea-9c18-4082504e8286.png)

[2020-02-07 18:34] dhstack opened #77 "Overriding ID behavior"
As the [code is currently written](https://github.com/benwinding/react-admin-firebase/blob/9b1ca53f43e757eb1654df3a80a16e169fcbe0be/src/providers/database/FirebaseClient.ts#L70), if the document ID is overridden, but it already exists then a new ID is auto generated.

This is a bit confusing, because part of the reason one may want to override the document ID is to create documents with that ID pa

[2020-02-10 16:05] MichalKalita opened #78 "Cannot create/edit data when firebase is in dependencies"
Hi, it is great project! Thanks for that.

When I try to update or create any item, I get a error
`Function DocumentReference.set() called with invalid data. Unsupported field value: a custom ServerTimestampFieldValueImpl object (found in field createdate)`

The source of problem is in line https://github.com/benwinding/react-admin-firebase/blob/upgrade-to-react-admin-v3/src/providers/database/Fir

[2020-02-10 16:59] MichalKalita commented on #78
I found a problem. I had a firebase in dependencies in my project. It makes conflict. I just remove `firebase` from my dependencies and create/update works.

Maybe `firebase` should be a peer dependency of this project?

[2020-02-13 15:12] aaronat1 opened #79 "Get current user email"
How can I get current user logged? For example user email. I want to use this email to use in Filter. For example:

[code]
Regards

[2020-02-14 10:06] aaronat1 opened #80 "Filter and Filter result concatenation"
Hi,
I have this code in my project:

[code]

But when I use Filter (text and name) I see in my DataGrid sms objects that have been created by another users (for example aaron.asencio.tavio@gmail.com). I think that filter and filters are working using OR concatenation result, How can I work using AND concatenation result?

it is great project! Thanks for that.
Regards

[2020-02-19 13:02] dhstack commented on #79
If you're using the v3 beta you can use the following:

[code]

You can also get other properties form this object like `user.displayName` or `user.uid`

[2020-02-21 12:37] #34 closed

[2020-02-21 12:37] #46 closed

[2020-02-21 12:52] benwinding commented on #79
Thanks @dhstack!

Yes that's the intended method of retrieving the current user. You also have access to the following properties (and more):
![image](https://user-images.githubusercontent.com/11782590/75036034-d3ccd980-5500-11ea-9c4b-480d57b1c5c4.png)
More info: https://firebase.google.com/docs/auth/web/manage-users#get_a_users_profile

Cheers,
Ben

[2020-02-21 12:52] #79 closed

[2020-02-22 17:52] dhstack commented on #29
@benwinding Trying to find how to do this. I thought it would be in the config options, but I don't see it there. Is there an example I'm missing somewhere?

[2020-02-22 20:13] RWOverdijk commented on #46
@benwinding Did you close this because it works now, or because... I don't know, other reasons.

[2020-02-22 21:45] dhstack commented on #78
Might have to change [package.json](https://github.com/benwinding/react-admin-firebase/blob/master/package.json) to include the `^` character for firebase dependency.

[code]

[2020-02-22 21:56] dhstack commented on #73
Having this issue too. Thanks for the fix @simokhalil!

[2020-02-24 07:04] benwinding commented on #46
Hi @RWOverdijk ,

Sorry about the delay but the upgrade is finished and merged into master https://github.com/benwinding/react-admin-firebase/pull/67 (which automatically closed this issue)

It's deployed to npm under the major version `3.0.0` https://www.npmjs.com/package/react-admin-firebase/v/3.0.0

Check it out and let me know if there's any issues,

Cheers,
Ben

[2020-02-24 07:54] RWOverdijk commented on #46
Aye. I also see the default query stuff has been added. That's cool because I've spent the past year yelling at my screen. Nice work man :)

[2020-02-27 17:08] konyilwin opened #81 "how can I use with real time database not with firestore?"
Hi there,
I want to use this with real time database not with firestore. Is that possible? If yes, how can I do that?
any suggestion or tutorial pls.

[2020-03-10 14:07] simokhalil commented on #69
Interested in this feature too

[2020-03-18 23:04] Rawphs opened #83 "Fetch user for role/permissions in app"
Hey, cool plugin, loving it so far! Quick question though...

I have a users collection with (surprise, surprise) users, and I want to fetch the authenticated user's document so I can use it in App.js to decide the permissions. Some resources shouldn't be visible to all users so it would be nice to selectively add/remove resources in render.

What's the recommended way to do this? I was going to i

[2020-03-19 16:30] aaronat1 opened #85 "Failed compile: Cannot find SourceMap 'mutationobserver.map'"
I follow this steps with lattest version:

    1. git clone https://github.com/benwinding/react-admin-firebase
    2. yarn && yarn watch
    3 (open another terminal)
    4. cd src-demo && yarn && yarn start

This is the error:

Emitted value instead of an instance of Error) Cannot find SourceMap 'mutationobserver.map': Error: Can't resolve './mutationobserver.map' in '/Users/mac/aaronasencio/SIC4

[2020-03-20 15:23] RWOverdijk commented on #62
I agree. This is a privacy issue and makes the whole library unusable. @mlipscombe did you end up making a PR?

@benwinding what's the fastest way to just disable this altogether?

[2020-03-21 13:40] #62 closed

[2020-03-21 13:40] #77 closed

[2020-03-21 13:40] #78 closed

[2020-03-21 13:40] #85 closed

[2020-03-21 14:06] benwinding commented on #78
Hey @MichalKalita,
That's a good point, so we made firebase is a peer dependency. So you need to have the `firebase@7.9.x` in your app's `package.json` file.

Just published version `3.1.0`

Cheers,
Ben

[2020-03-21 14:20] benwinding commented on #77
Hey @dhstack,

So this has been fixed in PR #86. Now instead of overwriting a document it throws an error if the id already exists.

However there's another problem, when the `DataProvider` throws the error (Rejected promise) it logs you out?? I think there's a problem with `react-admin` interacting with this provider, as it's a legacy provider format now.

Anyway this is deployed in `react-admin-

[2020-03-21 14:24] benwinding commented on #85
Hey @aaronat1,

Thanks for checking out the package and reporting the issue :+1:

Yes, that's been a bit of an annoying workflow, so I changed this library to use `gulp`, which makes things simpler in development. So `git pull origin master` for the latest changes, Instructions have been updated too:
[code]
(All in the same terminal window)

Cheers,
Ben

[2020-03-21 14:27] benwinding commented on #62
Hey Guys,

Yes this has been an annoying thing for a while. It's now an option in the options object:
[code]
Available in `react-admin-firebase@3.1.0`

@dhstack maybe we should open another issue for renaming the field names.

Let me know if there's any issues,

Cheers,
Ben

[2020-03-21 14:50] #76 closed

[2020-03-21 14:51] benwinding commented on #76
Hi @dhstack,

Yes this is a good, point. The option `dontAddIdFieldToDoc` has been added to the options and will prevent this behaviour.

This was deployed in version `react-admin-firebase@3.1.2`

Cheers :+1:,
Ben

[2020-03-21 15:00] RWOverdijk commented on #62
@benwinding Thanks for your quick reply :) This looks great, because we can already add hooks ad add our own fields if we want.

[2020-03-21 15:02] benwinding commented on #81
Hi @konyilwin,
Currently this library only supports the **Firestore** database provided by Firebase. There's no plans to include this in the future, but if someone wants to submit a Pull Request, I'll consider it.
Cheers,
Ben

[2020-03-21 15:02] #81 closed

[2020-03-21 15:21] benwinding commented on #83
Hey @Rawphs,

Thanks for checking it out! So you can fetch the current `UserCredentials` using the `AuthProvider`. This will give you the user details (uid, email, displayName):

[code]

You should also checkout `Custom Claims`, which are special fields on the `UserCredentials` object that you can only set on the server, which makes them pretty safe.

Something like `user.getIdTokenResult()` to ge

[2020-03-21 15:56] #61 closed

[2020-03-21 15:56] #80 closed

[2020-03-21 15:57] benwinding commented on #80
Hey @aaronat1,

Thanks for reporting this. Should be fixed in `react-admin-firebase@3.1.3`.

Cheers,
Ben

[2020-03-21 15:58] benwinding commented on #61
Hi @SangilYun,

Thanks for spotting that, yes the **total** items count _before_ filtering was being returned. Should be working properly in: `react-admin-firebase@3.1.3`.

Cheers,
Ben

[2020-03-22 18:10] dhstack opened #89 "Readme options incorrect"
As written, the options in the Readme appear to be syntactically incorrect. The `;` should be `,` and there shouldn't be any question marks. I believe the below code is correct:

[code]

[2020-03-22 19:16] dhstack commented on #76
@benwinding Looks like this works, thanks!

[2020-03-22 19:16] dhstack commented on #62
@benwinding This works, thanks!

[2020-03-22 19:30] dhstack opened #91 "Unexpected logout when creating a doc with same id after error"
When trying to create a document with the same ID, `react-admin-firebase` now throws an error saying the id is already in use as of PR #86, but it now also logs you out whenever that error is thrown as described in related issue #77.

[2020-03-22 19:35] dhstack commented on #77
@benwinding Yes, it's logging me out too. I created a separate issue for that, #91.

Also, I saw that you [added an option for `overrideDefaultId`](https://github.com/benwinding/react-admin-firebase/blob/master/src/providers/RAFirebaseOptions.ts), but it [doesn't seem to be used anywhere](https://github.com/benwinding/react-admin-firebase/search?q=overrideDefaultId&unscoped_q=overrideDefaultId) el

[2020-03-22 22:30] benwinding commented on #89
Yeah you're right @dhstack, it was originally the typescript definition. But making it an object definition is definitely clearer.

[2020-03-22 22:30] #89 closed

[2020-03-22 22:47] benwinding commented on #77
Hi @dhstack,

Yes that option hasn't been implemented yet but the idea was to be able to assign a different property from Firestore to the id in the URL. For example:

This Firestore document lives at `vehicles/GrIoqSAts4f0sFl0QVHV`
[code]
[code]
There's a few challenges here though and possible collisions, which I'm not sure will be worth it. For example, referencing a document by property rather

[2020-03-22 22:53] dhstack commented on #77
@benwinding Thanks for clarifying. I like the concept of prettier URLs and the flexibility this option could provide, but it may over-complicate things. I mean wouldn't it be better just to set the docId as the number plate in the first place? That way there's no way for duplicate vehicles to be added by accident.

For me at least, I'm happy with the URL using the docId.

[2020-03-24 04:29] dhstack opened #92 "Logging option has no effect on local development"
When developing locally, regardless of if `logging` is `true` or `false` in the `react-admin-firebase` options, the logs are output. It may have to do with this line (46) in `src/misc/logger.ts`:

`if ((config && config['debug']) || options.logging) {`

Not sure what `config['debug']` is doing.

[2020-03-24 11:28] #92 closed

[2020-03-24 11:33] benwinding commented on #92
Hey @dhstack,

Thanks for picking that up, yeah I thought it was working a while ago, for some reasons `var DEBUG` was not a global variable anymore.

Anyway it's fixed now, using the local browser storage to persist state. ab3162834e28fbb9853eca7e23a4e8347bd37f61

Also config['debug'] is a deprecated way of enabling debug mode (I like to keep things backwards compatible but it gets messy) should

[2020-03-26 00:14] dvasdekis opened #93 "Using the JWT gives me HandleAuthLogin: invalid credentials"
Hi guys (probably Ben! thanks for the follow!),

I'm trying to use the Firebase JWT, unsuccessfully, when connecting to a RA dataProvider.

My App.js code is:
[code]
So far, pretty standard. The JWT object I create also posts a valid JWT to console when logged, and my server accepts this JWT as valid when I send it manually.

However, I get the `HandleAuthLogin: invalid credentials` error when run

[2020-03-27 09:50] aaronat1 opened #94 "Import CSV"
Is there way to import csv data? I can see an Export Button but I can not see the posibility to import data.

[2020-03-27 18:43] dhstack commented on #94
Doesn't look like this is part of the core `react-admin` package.

See: https://github.com/marmelab/react-admin/issues/3809

Alternatively, you can import data directly into Firebase using [one of these methods](https://stackoverflow.com/questions/33930915/how-to-import-csv-files-into-firebase/47581258), then simply use `react-admin-firebase` to read the data and manipulate as usual.

[2020-03-28 00:48] dhstack opened #95 "Sort by Timestamp incorrect when time is displayed"
When sorting a list view by a timestamp field, the date is sorted correctly, but the time is reversed from how the date is sorted.

**ASC**
![image](https://user-images.githubusercontent.com/2013388/77810670-0fad0e80-706c-11ea-8e23-b7ecd2d9dbbe.png)

**DESC**
![image](https://user-images.githubusercontent.com/2013388/77810690-28b5bf80-706c-11ea-9ddb-1609fef3b90d.png)

[2020-03-28 00:49] dhstack commented on #95
Also, is there a reason we're not using the built in [`orderBy()`](https://firebase.google.com/docs/firestore/query-data/order-limit-data) that `Firebase` provides instead of the custom `sortArray()` in [arrayHelpers.ts](https://github.com/benwinding/react-admin-firebase/blob/master/src/misc/arrayHelpers.ts)?

[2020-03-28 19:47] dhstack commented on #75
This also causes an issue with the `ReferenceInput` component:

[code]

It *does*, however work with non-nested objects:
[code]

[2020-03-28 20:10] dhstack commented on #75
I figured out a work around based on the example in that @LaszloDev put together [here](https://github.com/LaszloDev/react-admin-firebase/blob/357e873eb219770cec36e757c612e696d72cb0c9/src-demo/src/posts.js) for PR #39.

I made the filter use the line below and it worked!
`filter={{collectionQuery: collection =>
        collection.where("organization.id", "==", organizationId)}}`

In order to stay

[2020-03-29 09:17] benwinding commented on #95
That's strange, I'll have a look at that.

Yes it's weird but there are some limitations in using Firestore's sorting. The main one is pagination by numbers (1,2...) is not possible, you can only paginate by doc-references from the [limit()](https://firebase.google.com/docs/firestore/query-data/order-limit-data) function. This was also discussed heavily in issue #20

[2020-03-29 09:21] benwinding commented on #94
Hey Guys,

Yeah this has always been a bit of a pain, so I implemented the solution from @Odonno into an npm package (`react-admin-import-csv`) Give it a go and let me know if there's any issues.

https://github.com/benwinding/react-admin-import-csv

Cheeers,
Ben

[2020-03-29 09:21] #94 closed

[2020-03-29 09:22] #83 closed

[2020-03-29 09:24] benwinding commented on #75
Thanks @dhstack,

I'll try and implement that in there soon. Using the filter function has greater flexibility, but yes, it's not consistent with `react-admin`.

Cheers,
Ben

[2020-03-29 09:34] benwinding commented on #93
Hi @dvasdekis,

Sounds like an interesting project. I'm sorry I don't have any experience in `hasura` and am not so good with tokens and Auth. So you'll have to bear with me.

It may be related to this issue #91 where logouts are caused by weird behaviour in the `AuthProvider`.

If you could clone the latest 'master' branch in this repo, and do some more testing in the `src-demo` directory. Then y

[2020-03-30 14:00] Rawphs commented on #83
Sorry, I thought I had replied already. Thank you for this!

[2020-04-01 12:28] sic4change opened #97 "Listen AuthProviderChanges"
Hi,

how can I listen changes in AuthProvider? For example when user login, logout....

Regards

[2020-04-01 15:05] RWOverdijk opened #98 "Get AuthProvider in DataProvider"
I'd like to add default arguments to certain queries.

I have big buckets of data which is mixed for multiple users. I want the user to only attempt to fetch the records they own because otherwise firestore will throw a permission error.

Ownership is indicated via a prop on the document (user's id) and therefor I'd like to simply add the user's id to all fetches (and creates).

To do this, I thin

[2020-04-02 00:18] dvasdekis commented on #98
[I've achieved a similar integration here](https://github.com/dvasdekis/react-admin-hasura-firebase/blob/master/src/App.js), which defines the data provider using the response from the auth provider.

Take a look and let me know what's missing!

[2020-04-02 00:21] dvasdekis commented on #93
Hi @benwinding

I managed to get it all working. [You can see the example here](https://github.com/dvasdekis/react-admin-hasura-firebase/blob/master/src/App.js). Give it a try locally and see what you think!

Thanks for the help! :)

[2020-04-06 10:18] RWOverdijk commented on #98
It's not exactly the same because the auth state can change during a session.

In any case, I've solved this by patching the data provider 😄

[2020-04-06 10:18] #98 closed

[2020-04-06 13:13] sic4change opened #99 "Filter between date values"
Hi,
How can I filter dates that are within a range? In other words, having two date filters, one that allows entering the start date and another that allows entering the end date and obtaining the dates within that range in the list.

Thanks for everything.
Cheers

[2020-04-08 03:41] benwinding commented on #70
@agentlewis I've been meaning to respond to this idea for a while. I think it has great potential and recent developments in the Firestore api make this much easier to implement than it would have been 6 months ago.

**Firebase SDK Changes Which Help**
I stumbled accross [this recent blog post](https://firebase.googleblog.com/2019/11/cloud-firestore-now-supports-in-queries.html) by Firebase, which

[2020-04-08 11:59] dhavalk-simform opened #100 "Login with Google/Facebook not working as expected."
To enable login with google and Facebook I got a reference from this [link](https://github.com/benwinding/react-admin-firebase/blob/master/src-demo/src/CustomLoginPage.js) written by @benwinding.

when the user clicks on Google / Facebook button to log in, its open popup to enter login details and popup closed and it's not redirecting to the home page and can see loading icon on the login screen.

[2020-04-08 13:53] sic4change opened #101 "Forgot password in login page"
How can I add a button or link in LoginForm that detects click and perform a request to firebase to send password reset email?

firebase.auth().sendPasswordResetEmail('text in email input');

Regards

[2020-04-08 22:59] agentlewis commented on #70
Hey @benwinding thanks for following up, I ended up writing up my thoughts in a [readme](https://github.com/agentlewis/MetaAdmin-POC)

Interesting regarding Firebase SDK changes and the collection counting. Good to note.

I am currently working on a project using amplify and one of the things I want to look at is what it takes to use amplify as a backend instead of Firebase. Reason is it doesn't h

[2020-04-10 14:48] 5achinJani commented on #93
+1 having the same issue. after login even doing a page refresh makes a logout due to `getIdToken` throwing an error.

[2020-04-10 15:33] 5achinJani commented on #93
My current workaround for this is to call ` authProvider.checkAuth();` before building the data provider and managing the `isAuthReady` state on the app level.
[code]

[2020-04-10 20:30] dhstack commented on #100
Your title also says Google. Are you having a problem with that too?

I haven't tried Facebook, but Google authentication works for me.

[2020-04-10 22:08] #68 closed

[2020-04-10 22:16] benwinding commented on #97
Hi @sic4change,

You can use the [`useAuthState()`](https://github.com/marmelab/react-admin/blob/master/docs/Authentication.md#useauthstate-hook) hook.

Cheers,
Ben

[2020-04-10 23:52] benwinding commented on #101
Hey @sic4change,

Yes this has been a pain for a lot of us, so I added a component to this repository `<CustomForgotPassword>`, [src file is here](https://github.com/benwinding/react-admin-firebase/blob/56434cb67999b387d3b486ff4fa214fbdc0379bf/src-demo/src/CustomForgotPassword.js) just add it where every you want to be able to send a password reset email.

Also, if you want to customise the Email

[2020-04-10 23:59] benwinding commented on #99
Yeah that's not too hard to do, you just need add the `collectionQuery` field to the filter prop on the List Component. I'm not entirely sure on how to make it dynamic though.

[code]

Cheers,
Ben

[2020-04-12 09:28] sic4change commented on #101
Perfect!! It is working.
Thanks.

Regards

[2020-04-12 11:54] #101 closed

[2020-04-13 05:05] dhavalk-simform commented on #100
@dhstack yes, I've tried both FB and google and result is same for both the provider.

[2020-04-13 09:15] 5achinJani commented on #91
Any fix/workaround for this?

[2020-04-13 14:33] dhstack commented on #91
Not as far as I kow

[2020-04-14 02:20] benwinding commented on #91
Finally got this fixed, the problem was due to the `AuthProvider` not correctly implementing the `HandleAuthError` function which triggers an `Auth failed` by default.

![Peek 2020-04-14 11-45](https://user-images.githubusercontent.com/11782590/79178907-9a9c5000-7e45-11ea-9970-3935a2dc8acd.gif)

[2020-04-14 02:21] #91 closed

[2020-04-14 09:36] 5achinJani commented on #91
Hey thanks @benwinding  for the update. I saw the code you added for it.  `HandleAuthError ` now checks for code status in errorHttp object. Here in my case I'm using `graphql-shield` on the server and this `errorHttp ` doesn't contain `status` in it hence it is causing the logout cause the promise gets rejected. Do you have any idea how to make sure that my graphql-shield or apollo server passes

[2020-04-14 10:07] 5achinJani commented on #91
I've added an override for `checkError` to handle this for graphql :
[code]
Here I can add checks for graphql error codes based on this apollo docs
https://www.apollographql.com/docs/apollo-server/data/errors/#codes
It'd be better if you support the graphql error codes like the basic ones like `UNAUTHENTICATED` in your `checkError` function as an out-of-the-box support for graphql errors and peopl

[2020-04-14 10:16] benwinding commented on #91
Hi @5achinJani ,

Glad to hear you got it sorted out. Just wondering, what's the architecture of your app? like, how are you using `graphql` with `react-admin-firebase`?

Below is the function which checks the error and is giving you trouble.

https://github.com/benwinding/react-admin-firebase/blob/f601cb8505e8d6f990d171ab466c764093b67079/src/providers/AuthProvider.ts#L65-L72

If you'd like to con

[2020-04-14 10:17] #97 closed

[2020-04-14 10:26] 5achinJani commented on #91
Sure thing ben I'll :) I'm using prisma data-source for dataProvider and react-admin-firebase only for the authProvider and it is working pretty great. Thanks for this package. :)

[2020-04-14 15:10] dhstack commented on #91
Tested and the fix works for me. Thanks @benwinding!

[2020-04-14 15:14] dhstack commented on #100
What version of `react-admin` and `react-admin-firebase` are you using? Can also include the login page code you're using?

[2020-04-14 17:12] trackwell-mike commented on #100
Thanks for your help! I work with @dhavalk-simform and wanted to get a quick answer to you.

We're using `react-admin` 3.2.1 and `react-admin-firebase` 3.1.5.

@dhavalk-simform May have a more current branch he's working on that contains a more accurate version of the Login page code, but I'll include his most-recently committed version below:

[code]

[2020-04-14 17:43] dhstack commented on #100
@trackwell-mike The only thing I can think of is try changing `signInSuccessUrl: "/User",` to `signInSuccessUrl: "/",` and see if that works. Or making "Users" lowercase to "users".

Not sure what else may be going on. I'm using `react-admin 3.3.3` and `react-admin-firebase 3.1.6`. Here's the code that works for me, though it's a bit different than the demo. Hopefully that helps.

[code]

[2020-04-15 07:23] 5achinJani commented on #100
facebook login is working. it was the unexpected logout that was the case here which is already fixed in #91
This can be closed now.

[2020-04-15 07:25] dhavalk-simform commented on #100
@5achinJani and @dhstack  thanks. I'm closing this issue.

[2020-04-15 07:26] #100 closed

[2020-04-16 10:53] RWOverdijk opened #107 "isCollectionAccessible not using filters"
When [fetching a single document](https://github.com/benwinding/react-admin-firebase/blob/master/src/providers/database/ResourceManager.ts#L83) you still use a [limit(1)](https://github.com/benwinding/react-admin-firebase/blob/master/src/providers/database/ResourceManager.ts#L171) to check if a collection "is accessible". Which on its own is already not the best approach to solve this, but is espe

[2020-04-17 16:11] abumalick commented on #93
thank you very much for your solution @dvasdekis It is a lot more clean than mine 👍

I think you can close this issue, right?

[2020-04-18 06:31] #107 closed

[2020-04-18 06:32] benwinding commented on #107
Good points @RWOverdijk,
That was an older way, seems a bit ridiculous now. Appreciate the contribution back.
Cheers,
Ben

[2020-04-18 20:27] dhstack opened #108 "Nested Timestamp shown as "Invalid Date""
A timestamp field at the root document level works as expected with this line:
`<DateField source="submittedAt" showTime />`

With these results:
![image](https://user-images.githubusercontent.com/2013388/79670457-39e87c80-8191-11ea-96ec-5f56ebe590c5.png)
![image](https://user-images.githubusercontent.com/2013388/79670465-4240b780-8191-11ea-9055-3994653e3027.png)

But a timestamp field in a Map ob

[2020-04-18 20:32] dhstack commented on #108
My current workaround is using a [`Function Field`](https://marmelab.com/react-admin/Fields.html#functionfield) instead of a `DateField` and directly getting the seconds and converting to milliseconds, but it's not ideal.

[code]

[2020-04-19 22:31] dvasdekis commented on #93
@abumalick I would close it except that @5achinJani is having the same issue and is using this thread for it?

[2020-04-24 03:57] 5achinJani commented on #93
Hey @dvasdekis yeah the fix is to await the firebase auth state to be ready before your App gets init. You can close it.

[2020-04-24 09:32] MichalKalita opened #111 "Filter doesn't work for boolean"
Hi, filtering by boolean value doesn't work :(

React admin code
[code]

In firestore `shipping` collections exists docs with `enable_for_all_products` value boolean false.

Expected result: filtered docs should be visible in react admin

Actual result: SelectInput is empty. When I remove filter, all docs are in SelectInput.

[2020-04-24 10:44] aaronat1 opened #112 "Error when Filter using ReferenceArrayInput"
I have a filter, for example:
[code]
After select a value in AutocompleteArrayInput application crash and login page is showed.

Thanks,
Regards

[2020-04-25 07:17] #111 closed

[2020-04-25 07:22] benwinding commented on #111
Thanks for reporting this, it was only filtering strings before. Now it will filter `string`, `boolean`, `number` values.

Should be deployed as version: `3.1.12`

Also added unit-tests to ensure it doesn't break again!

https://github.com/benwinding/react-admin-firebase/blob/b9b19de90ca42991a06022bf2bc6708208e12102/tests/arrayHelpers.filtering.spec.ts#L74-L86

[2020-04-25 07:45] #108 closed

[2020-04-25 07:50] benwinding commented on #108
Thanks for reporting @dhstack,

Should be fixed from PR #114 , and deployed as version `3.1.13`.

Basically, it wasn't converting Date fields recursively. But that should be fixed now, and is also checking this in the new unit-tests.

https://github.com/benwinding/react-admin-firebase/blob/b2011c4638d622fc0599eb22d76df5b4a745bc05/tests/integration-tests/ApiGetOne.spec.ts#L28-L52

Cheers,
Ben

[2020-04-25 07:51] #99 closed

[2020-04-25 08:16] #95 closed

[2020-04-25 08:20] benwinding commented on #95
Hi @dhstack

This is a strange problem, but I think it was due to treating all fields as either a number or string. This should be fixed here 35a8745 and deployed as version `3.1.14`

If there's any issues, let me know. I've got a few unit-tests for this now, located here:
https://github.com/benwinding/react-admin-firebase/blob/35a87452f1512ace9537aec3d72a8153a2e073b3/tests/arrayHelpers.sorting.sp

[2020-04-25 11:49] benwinding commented on #75
Hi @dhstack,

Hopefully this fixes the problem for using nested filters. It accesses the deep object field using dot path notation, like you mentioned above:

[code]

Should be deployed in version `3.1.15`

Here's the unit-tests for it, let me know if this works for you:

https://github.com/benwinding/react-admin-firebase/blob/cd2a6842e2d8bdb76cb057eba4e06e387944e88e/tests/arrayHelpers.filtering.s

[2020-04-25 12:03] benwinding commented on #112
Hi @aaronat1,

What version of the library are you using? Try the most recent version, as unexpected logouts were addressed in issue #91.

I'm not sure how to replicate the problem you have, can you share the browser `console` error output.

Or even better, you could create a [stackblitz](https://stackblitz.com/edit/react-admin-ex1) to demonstrate the problem.

Cheers,
Ben

[2020-04-25 12:55] aaronat1 commented on #112
I am using 3.3.1 version.
In my firestore I have an object called campaign that includes an array called  group.
I want to filter campaigns  by grup selected. In filter I can selecte several groups. I am using  ReferenceArrayInput witn AutocompleteArrayInput inside:

[code]
This filter is used in campaign List

` <List {...props} filters={<CampaignFilter />} actions={<ListActions/>} bulkActionButt

[2020-04-25 13:04] #73 closed

[2020-04-25 13:11] benwinding commented on #73
Should be fixed now, but let me know if there's any issues with this.

[2020-04-25 13:56] benwinding commented on #112
Sorry, I'm not familiar with using `<ReferenceArrayInput>` perhaps someone else might have some advice?

Anyway you can try the following:
- Update to 3.1.16 (latest version) see if that helps in some way
- Enable logging by passing in `logging: true` in the options to the dataprovider

Hopefully that gets you closer to fixing it.

[2020-04-25 16:40] dhstack commented on #95
Works for me, thanks!

[2020-04-25 16:41] dhstack commented on #108
Works for me, thanks!

[2020-04-25 17:19] dhstack commented on #75
Works for me! Thanks!

[2020-04-25 17:34] dhstack opened #115 "Delete image from cloud storage when deleted from Firestore"
When an image is deleted from a Firestore object, the image should also be deleted from storage as well.

When I delete an image with the `react-admin` UI or Firestore UI, it gets removed from the Firestore object, but still remains in Storage.

This is for version 3.1.16+ since image uploading was revamped in PR #74.

[2020-04-25 19:31] dhstack commented on #75
@benwinding This works for filters on one field.

However, it doesn't work for [filtering a list](https://marmelab.com/react-admin/List.html#filtering-the-list) with reference fields.

[code]

This is the URL that's generated when the above filter is applied:
[code]
And the [decoded](https://meyerweb.com/eric/tools/dencoder/) version:
[code]

[2020-04-25 20:32] dhstack commented on #7
@benwinding Since `react-admin` 3.0 and [Collection Group queries](https://firebase.googleblog.com/2019/06/understanding-collection-group-queries.html) ([Docs](https://firebase.google.com/docs/firestore/query-data/queries#collection-group-query)) in Firestore are now released, there may be another way to handle nested collections.

What if, when declaring a `Resource` in `<Admin />`, a slash is ad

[2020-04-26 00:39] benwinding commented on #75
Oh good, point, I will check for reference input too

[2020-04-26 00:44] benwinding commented on #115
Yes that's a good point, perhaps a flag in the options would be a good way to handle this, so that people can have the option

[2020-04-26 05:05] #75 closed

[2020-04-26 05:15] benwinding commented on #75
Hi @dhstack,

Let me know if commit dadd210 fixes it (version 3.1.17). I've refactored it so filters can either contain nested objects or object path notation, like below:

[code]

Basically there's a function `objectFlatten` that flattens objects into a _normalized_ dot notation. Here's one of the unit tests, for reference.

https://github.com/benwinding/react-admin-firebase/blob/dadd210b5429bd6b

[2020-04-26 15:22] dhstack commented on #75
@benwinding That works. As always, thanks for your help!

[2020-04-27 01:52] benwinding commented on #7
Hi @dhstack,

Thanks for bringing this up, I haven't heard of _Collection Group queries_, that's pretty cool, although It looks like there's a few gotcha's (requires indexes to be added, retrieves collections _globally_ not just within a certain tree branch) It could be a cool feature to add to this library, it's just not clear how it will work as a `CRUD` resource.

- **Create** - Which subcollec

[2020-04-27 02:41] dhstack commented on #7
@benwinding I didn't even think about the other `CRUD` options besides **read** when I came up with this idea (oops)... soooo this may not work out at all. Especially since it seems that _collection group queries_ are seem to be only designed for reading data.

In any case, determining the appropriate document to **create/update/delete** would be a challenge, as you've pointed out. Perhaps there's

[2020-04-27 03:16] benwinding commented on #7
All good, it could be a good idea for a read-only view perhaps. We could get around it by using the entire path as the `id` field. Something like id=`posts/213/comments/222`. This would allow the dataprovider to know the full tree of which subcollection to send it to. However this could break other things I think.

I think we're getting closer! I'll think about it over the next few days. There's m

[2020-04-28 09:28] aaronat1 commented on #112
Thanks @benwinding. I have update to 3.1.17 and my web application does not crash. But the filter does not work very well.

I atach several images to show the behaviour:
![Captura de pantalla 2020-04-28 a las 10 22 01](https://user-images.githubusercontent.com/8913552/80470672-3e9ff400-893a-11ea-90d1-85c2cead1f8c.png)
![Captura de pantalla 2020-04-28 a las 10 22 24](https://user-images.githubuserc

[2020-04-28 21:06] sic4change opened #116 "Error version 3.1.17 when deploy in Firebase Hosting"
Hi!
Thanks!! It is very nice project.
I have a problem. My project was running in Firebase but I have updated to 3.1.17 and my project is not working fine. All time I have received a Notification "TypeError: t is not a function" and my coleccions from Firestore is not showing.
![Captura de pantalla 2020-04-28 a las 22 05 42](https://user-images.githubusercontent.com/48917076/80537756-75a6f180-899c

[2020-04-29 19:41] crappycocco opened #117 "HTTP 400 error from data provider triggering logout in FirebaseAuthProvider"
public HandleAuthError(errorHttp: messageTypes.HttpErrorType) {
    log("HandleAuthLogin: invalid credentials", { errorHttp });
    const status = !!errorHttp && errorHttp.status;
    if (status === 409 || status === 200) {
      return Promise.resolve("API is authenticated");
    }
    **return Promise.reject("Recieved authentication error from API");**
  }

[2020-04-29 19:41] crappycocco commented on #117
Error: ra.notification.data_provider_error
    at validateResponseFormat (validateResponseFormat.js:7)
    at useDataProvider.js:353
console.<computed> @ index.js:1
(anonymous) @ useDataProvider.js:367
Promise.catch (async)
performQuery @ useDataProvider.js:364
doQuery @ useDataProvider.js:195
(anonymous) @ useDataProvider.js:172
(anonymous) @ useQueryWithStore.js:130
commitHookEffectListMount @ r

[2020-04-29 19:43] crappycocco commented on #117
Error: ra.notification.data_provider_error
    at validateResponseFormat (validateResponseFormat.js:7)
    at useDataProvider.js:353
console.<computed> @ index.js:1
(anonymous) @ useDataProvider.js:367
Promise.catch (async)
performQuery @ useDataProvider.js:364
doQuery @ useDataProvider.js:195
(anonymous) @ useDataProvider.js:172
(anonymous) @ useQueryWithStore.js:130
commitHookEffectListMount @ r

[2020-04-30 11:20] #117 closed

[2020-04-30 11:25] benwinding commented on #117
Hey @crappycocco ,

Thanks for reporting this, looks like there's a lot of HTTP request codes to handle.

This file from the firebase SDK shows a few major ones.

https://github.com/firebase/firebase-js-sdk/blob/9f109f85ad0d99f6c13e68dcb549a0b852e35a2a/packages/functions/src/api/error.ts

So I've handled most of them in this function here:
https://github.com/benwinding/react-admin-firebase/blob/e4

[2020-04-30 13:13] benwinding commented on #116
Hi @sic4change,

Interesting, this seems to be a problem with react-admin (see this issue https://github.com/marmelab/react-admin/issues/4337)

Fix it by upgrading to `react-admin@3.3.3` https://github.com/marmelab/react-admin/issues/4337#issuecomment-606110988

I've just tested and it seems to work with `firebase serve --only hosting`, but let me know if there's any problems.

Cheers,
Ben

[2020-04-30 13:13] #116 closed

[2020-04-30 15:28] sethcwhiting commented on #112
Side note: I also had to update my react-admin package to the latest version.

[2020-04-30 16:10] liveki commented on #7
@benwinding this issue are solved or still can't manage nested collections?

[2020-04-30 16:25] benwinding commented on #116
- Have you tried a hard refresh? `ctrl + r` or `cmd + r`
- Try a different browser Chrome and Firefox, try incognito and deleting application cache
- Try deleting `node_modules` and `yarn` again (annoying but this sometimes works)
- Try deleting `build` or `dist` folder

When I was testing it in Chrome, it only did it on the initial page load
- `mydomain.com` (showed the error)
- `mydomain.com#/lo

[2020-04-30 16:32] benwinding commented on #7
Hi @liveki,

This is an ongoing discussion, there's currently no good way to achieve `nested resources` as react-admin is built around single-level resources ([see here for more](https://github.com/benwinding/react-admin-firebase/issues/7#issuecomment-492877986)). And there's no plans to develop nested resources into the system.

The creator of react-admin suggests to make the rest api handle nest

[2020-04-30 19:59] sic4change commented on #116
Thank for your help @benwinding, but your solution not working.

yarn start

http://192.168.1.51:3333 => work perfect.

yarn build
firebase serve --only hosting => the same problem, not working fine

I do not undertand the problem...
Regards

[2020-05-01 03:33] crappycocco commented on #117
I changed my uname and still shows crappycocco :D, will update the username now (hopefully) this issue is still reachable. Thanks for the fix, I will test and get back to you, thanks for being so responsive @benwinding.

[2020-05-02 07:21] aaronat1 commented on #112
Yeah @sethcwhiting . Your solution works!!  I have updated to react-admin to the latest version and react-admin-firebase to the latest verstion. But, I have a problem now. When I deploy my projects in firebase hosting, my web application works wrong.

Regards.

[2020-05-02 07:22] aaronat1 commented on #116
I am having the same problem when updated react-admin and react-admin-firebase to the latest version. Regards

[2020-05-03 00:41] benwinding commented on #116
Well apparently it's fixed by upgrading to react-admin@3.3.3 as shown in this issue marmelab/react-admin#4337 (comment).

You might need to clear you browser cache after doing this though.

If you make a stackblitz example showing the issue, I will be able to provide more help

Try editing this one to demonstrate the issue: https://stackblitz.com/github/qgnirypbj

[2020-05-03 00:42] #112 closed

[2020-05-03 08:58] aaronat1 commented on #116
Thanks @benwinding

I have cleared my google chrome and mozilla firefox cache many times and the problem persits when deploy to firebase.

I'm going to try to share my code with you.

Regards

[2020-05-06 10:31] benwinding commented on #116
Updating to `"react-scripts": "3.4.1"` to the latest version in your `package.json` file seems to fix this problem.

[2020-05-06 12:31] sic4change commented on #116
Yeah!! Working.
Thanks.
Regards

[2020-05-07 01:02] #93 closed

[2020-05-10 04:39] crappycocco commented on #117
@benwinding now the 401 response on the DataProvider is not logging the app out, is this expected. Previously any error (4xx, 5xx etc) were logging the app out.

[2020-05-10 04:46] crappycocco commented on #117
I am manually handling the errors using a CustomDataProvider (please see the code for response error handling in my DataProvider).

return httpClient(url, options).then(response =>
            convertHTTPResponse(response, type, resource, params)
        ).catch((e) => {
            console.log("!!!!!!!!!!!!!!!!! DataProvider Error:" + JSON.stringify(e));
            if (e && e.status) {

[2020-05-10 06:25] benwinding commented on #117
Hey mate,

With the latest version; this is the current Auth checking code:

https://github.com/benwinding/react-admin-firebase/blob/0ae83768954a45fc80a305c6d8c2017cc8cd35be/src/providers/AuthProvider.ts#L75-L100

`401` should be logging out due to the unauthenticated error. Are you seeing any error output in the devtools console? Let me know what I should do to remedy this.

Cheers,
Ben

[2020-05-10 17:01] crappycocco commented on #117
@benwinding your auth provider is working fine, I am just wondering about an earlier version behavior I was seeing where the data provider (REST API http errors) also triggered the firebaseauth provider to logout - was this a bug or an expected behavior?

[2020-05-10 17:19] crappycocco commented on #117
Console errors
![Screen Shot 2020-05-10 at 1 18 41 PM](https://user-images.githubusercontent.com/41040576/81505929-e0bbc680-92c0-11ea-851d-32ed71ae9a55.png)

[2020-05-10 17:20] crappycocco commented on #117
AuthProvider is logging the Auth error which was thrown by the DataProvider, but it is not doing logout.

[2020-05-10 20:54] cyberlake opened #119 "ReferenceInput doesn't render suggestions for Autocomplete properly"
Trying to reference another resource with `ReferenceInput`. The initial state works perfectly, it loads suggestions. However, when typing any character for searching, it doesn't retrieve any suggestions.
[code]

From logs seems like  `collectionQuery` is `undefined`. Log line:

[code]

[2020-05-10 23:49] benwinding commented on #117
Yes this was expected behaviour. It should only logout if you're `unauthenticated` which can be triggered by viewing things you don't have access to, trying to add a document without access.

You're right it should of logged you out but the DataProvider was not returning the correct error code. Here's the fix below.

https://github.com/benwinding/react-admin-firebase/blob/9b176d7d75951d8ec33331881

[2020-05-11 00:40] crappycocco commented on #117
@benwinding will this work with my custom DataProvider, I am using the below code for handling http errors (I know this is not your work, still ..)

catch((e) => {
            console.log("!!!!!!!!!!!!!!!!! DataProvider Error:" + JSON.stringify(e));
            if (e && e.status) {
                switch (e.status) {
                    case 401:
                        return Promise.reject("Auth

[2020-05-11 03:13] benwinding commented on #117
It was incorrectly implemented according to react-admin, but now it has been fixed to _rethrow_ HTTP errors in the DataProvider correctly.

You're DataProvider wrapper should catch those HTTP errors as intended.

Please see the next release `react-admin-firebase@3.1.22` and let me know how you go

[2020-05-12 10:16] RWOverdijk commented on #59
This. We have a couple thousand records in multiple collections now and it's becoming expensive real quick.

In terms of "the number of records" a meta field could be made that keeps track of this. It's a common approach [using FieldValue.increment](https://fireship.io/snippets/firestore-increment-tips/). As with the other (recent) additions to this library I think it should be optional as it adds

[2020-05-12 10:28] RWOverdijk commented on #59
A crazy idea would be to use something like [WatermelonDB](https://nozbe.github.io/WatermelonDB/Advanced/Sync.html) to keep a local copy... We'd get all the features needed and it will feel fast.

[2020-05-15 10:22] RWOverdijk commented on #59
We have now created a `--stats--` collection which holds metadata for all the other collections, such as the document count. All this really required were two hooks (create, delete) to maintain the counter.

Using this we can now start paginating the results. As to fuzzy search we've also made our own solution, which is a large document that contains everything that is searchable. We're well below

[2020-05-15 10:28] agentlewis commented on #59
Would you be willing to share this code? Sounds very much what I was looking for :)

[2020-05-15 10:48] RWOverdijk commented on #59
It's a FieldValue increment and decrement. That part is really simple, it's the pagination itself that'll be a challenge. 😅

AS to the fuzzy search it's for out inventory system (we're a marketplace of sorts) and each venue gets a cache doc that we lazy load.

[2020-05-15 14:10] Immortalin commented on #72
On the react admin landing page, the Firebase logo is linked to https://github.com/aymendhaya/ra-data-firebase-client/blob/master/README.md

[2020-05-18 00:40] benwinding commented on #72
I have reached out before with a PR to add it to the docs before, [but unfortunately it was rejected ](https://github.com/marmelab/react-admin/pull/3232) and I was met with fairly negative feedback for developing a dataprovider that already existed :disappointed: .

But this project has picked up much more adoption since then, so maybe I'll try again...

[2020-05-18 02:05] benwinding commented on #59
Hi @RWOverdijk ,

Funny you mention that, I actually answered a [StackOverflow question with that exact method](https://stackoverflow.com/questions/46554091/cloud-firestore-collection-count/59151014#59151014). It's kind of a hack, but seems to work well.

But getting the collection size only helps for getting the maximum number of pages, which isn't totally necessary.

Pagination turns out to be s

[2020-05-18 09:23] RWOverdijk commented on #59
I can see your point. It is an unfortunate model to use with numbered pagination. Even using offset() in a function won't solve anything when it comes to reads...

Can't you just store the cursor value in redux? There's always a last id and as long as there's a sorting set up your results will be predictable. Then there's no need to store a cursor in local storage (which makes it unsharable) or th

[2020-05-19 21:49] Immortalin opened #120 "View/Edit JWT Claims"
Currently, the default Firebase Auth Users console lacks access to JWT Claims and those can only be viewed programmatically by invoking the API, can viewing/editing be supported in react-admin?

[2020-05-20 00:43] benwinding commented on #120
Hi @Immortalin,

I'm pretty sure JWT claims cannot be modified on the client, you can decode and view them on the client using the UserToken.
[code]
But if you want to modify them, you need to do it using `firebase-admin` which is a server-side npm package and is usually included in a firebase-function.

Please see this link for more details:
https://firebase.google.com/docs/auth/admin/custom-clai

[2020-05-20 00:44] #120 closed

[2020-05-20 05:14] Immortalin commented on #120
Do you think it can be added a field? It should be quite straightforward, being able to see the fields would greatly aid in debugging.

[2020-05-20 05:59] benwinding commented on #120
Would be nice, I'm not sure how it could be done for other user that are not logged in though.

Always open to suggestions and Pull Requests

[2020-05-20 07:10] Immortalin commented on #120
That's a good point, didn't think of that. Oops.

[2020-05-20 08:18] adamf92 commented on #59
Hi @benwinding  @RWOverdijk !
I want to ask about progress with this issue, as we also need solution for currently developed application. If you already started implementing it, I think there is no sense for us to do the same things simultaneously. Maybe I can help you with something?

[2020-05-20 08:38] RWOverdijk commented on #59
@adamf92 Nothing yet for paging. The more I learn about firebase/firestore the more I regret choosing to use it 😅

[2020-05-25 10:26] paul40322 opened #121 "Issue with src-demo"
I got the following errors in the console on browser when running "serve -s build" on src-demo.
The page is loaded with a blank screen.
Has anyone run into this issue?

The script from “http://192.168.1.6:5000/react-admin-firebase/static/js/main.41617ed8.js” was loaded even though its MIME type (“text/html”) is not a valid JavaScript MIME type.
192.168.1.6:5000
SyntaxError: expected expression, go

[2020-05-25 14:22] rafalzawadzki commented on #72
Hi @benwinding, creator of [ra-data-firestore-client](https://github.com/rafalzawadzki/ra-data-firestore-client) here. As your project is better maintained and adopted more, I decided to discontinue mine.

I gave appropriate notice on `ra-data-firestore-client` & redirect to your project now. I think you can submit an another PR to `react-admin` docs and quote this comment if needed :)

[2020-05-26 00:27] #121 closed

[2020-05-26 00:50] benwinding commented on #72
Hi @rafalzawadzki,

Thanks for reaching out! It looks like we both created DataProviders around the same time in late 2018 (great minds think a like :wink:).

Thanks for letting me know, I'll submit a PR to the `react-admin` docs and update this issue.

Cheers,
Ben

[2020-05-26 06:29] #72 closed

[2020-05-26 06:31] benwinding commented on #119
Hey @cyberlake,

Apologies for the late response. Are you still experiencing this issue?

Sorry, I'm unable to reproduce it here, are you able to give me some more information on how the problem occurs?

[2020-05-27 17:08] cyberlake commented on #119
Hi @benwinding. Thanks for the reply.

Yes, still having the same issue. I created [codesanbox](https://codesandbox.io/s/react-admin-firebase-20cx5?file=/src/App.js), you can reproduce same issue there. (I couldn't share my firebase details).

- Edit firebase config in `App.js`
- Create multiple tags with different names
- Create a blog post and in the `tags` input try to type the name of any crea

[2020-05-27 23:56] benwinding commented on #119
Thanks @cyberlake, that makes it way easier to diagnose.

Okay I can think I can see the problem now. The items seem to show as expected, then disappear as typing continues... hmmm, will look into it furthur

![Peek 2020-05-28 09-16](https://user-images.githubusercontent.com/11782590/83083066-4501c700-a0c4-11ea-936b-58466cee88ae.gif)

[2020-05-28 09:38] cyberlake commented on #119
Here's the same app with one of the react-admin `dataproviders`: [codesandbox](https://codesandbox.io/s/react-admin-bug-referencearrayinput-d62in?file=/src/App.js). Suggestions are working here.

`The items seem to show as expected, then disappear as typing continues...` might be that react-admin does the search within list first, and then gets results from firebase, which are empty.

Thanks for l

[2020-05-28 14:16] benwinding commented on #119
Thanks for checking back in. Looks like I've found a fix to the bug!

[code]

There's an error in the handling of the _default filter_ of `{ q: [searchText] }`, which I was unaware of and doesn't seem to be in the new documentation? (I only found a reference [in the archived admin-on-rest repository](https://github.com/marmelab/admin-on-rest/blob/master/docs/Inputs.md#referenceinput)).

Anyway, th

[2020-05-28 18:52] cyberlake commented on #119
Perfect, workaround works. 👍

Feel free to close the Issue.

Thanks for the quick response and workaround, much appreciated!

[2020-06-04 09:40] sic4change opened #122 "Problem when create and update entity with image"
When I create an object, for example User with image I see and error message:

FirebaseError: [code=invalid-argument]: Function DocumentReference.update() called with invalid data. Unsupported field value: undefined (found in field background.src)

Then, user is not created and not updated in firestore.

Thanks.

Regards

[2020-06-04 09:46] sic4change commented on #122
Solved,
It is neccesary change rules in Storage in Firebase to:

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}

[2020-06-04 09:46] #122 closed

[2020-06-04 10:57] benwinding commented on #122
Glad you got it solved!

[2020-06-09 13:53] gypsicoder commented on #56
@zhouhao27  You closed the issue. Will you please share how you solved. Please share your example here. It will help others who wants the example.

[2020-06-09 14:48] steventilator opened #123 "Cannot read property '1' of null"
I am encountering the following error when fetching data from certain collections in my database:

[code]

The error occurs when fetching the resource `policies`. Everything works fine when fetching `users`. Both collections exist in my database.

[code]

I create my providers like this:

[code]

What am I doing wrong?

EDIT:

I just realized that all the collections where it doesn't work contain

[2020-06-10 00:44] benwinding commented on #123
Hi @steventilator,

Yes, unfortunately this library is currently unable to parse the field type `ReferenceDocument`. An alternative is to use a `string` field for the document id e.g. `ref_id`.

Cheers,
Ben

[2020-06-10 00:58] benwinding commented on #56
Hey guys,

The file upload works using Firebase Storage and uses all the standard react-admin components.
- See here for more details: https://marmelab.com/react-admin/Fields.html#filefield

**Example usage**
Put this field in an edit/create view.
[code]
When you click submit the files will be uploaded to the default cloud storage, which you can view here:
![image](https://user-images.githubuserco

[2020-06-10 07:07] steventilator commented on #123
I have added the ability to parse `DocumentReference`s in my branch like this:

[code]

https://github.com/steventilator/react-admin-firebase/blob/213e4e74236ae25a4b22bf570ca0d6e1a4b197ca/src/misc/timestamp-parser.ts#L29

It's a rather simplistic check but it seems to work. Are you interested in a pull request?

[2020-06-10 08:51] benwinding commented on #123
Thanks for your suggestion.

But if you save the document, the reference will be overridden with the ID string right?

We could use a prefix to identify the reference document. So the data provider can parse it correctly when reading and saving.

An obscure prefix like this would work:

RefField=`_____ref=/path/to/refdoc`

[2020-06-10 09:23] gypsicoder commented on #56
@benwinding  thank you for your help. Yes, I have checked that site and used in my project to upload images. But, the problem I faced is when I upload image it put the url
in an object for example for your example it will put an object in the document like this
image_file: {
src: 'some_image_url',
title: 'probably the file name'
}
What if I want to just put the url in the main source field image_f

[2020-06-10 11:38] benwinding commented on #56
Sorry, this functionality not possible and is beyond the scope of react-admin-firebase and probably react-admin too.

The reason it's an object is to preserve the url and the filename too.

Is there a specific reason it cannot be an object?

[2020-06-11 02:52] NishidaRyu416 commented on #59
I know it is going to be inconvenient for an admin panel but we can solve the problem with the infinite scroll🤔

Of course, as you must be aware, we may be having trouble with the current implementation for CRUD as it has page transitions: to completely solve this, all the CRUD stuff  has to be done with modals.

[2020-06-11 03:36] mattsears18 commented on #62
is it possible to rename the metadata fields with custom names?

[2020-06-11 04:21] benwinding commented on #62
Hi @mattsears18,
No it's currently not possible. You can change the casing of the meta data fields though.

[code]

[2020-06-11 04:29] mattsears18 commented on #62
@benwinding thanks! that will work for now.

[2020-06-11 04:30] benwinding commented on #59
@NishidaRyu416 that's an intriguing idea. This would require a new Table component to be implemented, [here's an example](https://codesandbox.io/s/52xz76v5wn?file=/src/messagemanager.js). And would have some trade-offs:
- Search would only work on loaded rows, or require exact match ([see here](https://github.com/benwinding/react-admin-firebase/issues/59#issuecomment-569284598))
- Sorting needs to

[2020-06-11 07:15] RWOverdijk commented on #59
@benwinding I think that's maybe not the best idea. You'll get a whole new world of pain if anyone changes a record and your cursors are suddenly wrong. But after trying and spending time on this I came to just one conclusion personally.

I have just accepted that firestore isn't ideal if you're going to have a lot of data. It's fine to get started, but quickly just becomes expensive and difficult

[2020-06-11 09:07] benwinding commented on #59
That's true, there's some drawbacks to the approach I'm not sure cursors changing position slightly is a major problem though.

I might reconsider using cloud functions with meta collections, which would get close to solving all the problems. However it would mean; _adding countless firestore hooks, reserved collections, and deploying/syncing cloud functions, creating an additional nodejs library_

[2020-06-11 09:55] LaszloDev commented on #59
I got frustrated with Firebase also when starting to build a more production ready system.

Now I moved to AWS which offers with AWS Dynamodb some similar NoSQL DB, but you have to setup AWS AppSync manually for an GraphQL API (or write your own from scratch). My problem now is, there is no Data & Authprovider for GraphQL & AWS (AppSync/Cognito) and I have to write it my self.

To sum it up, Fireb

[2020-06-11 10:19] agentlewis commented on #59
@LaszloDev on a recent project we used [Amplify](https://aws.amazon.com/amplify/) primarily because of its costing model (just simply: data served + data on disk/month)

We also really liked the [amplify directives](https://docs.amplify.aws/cli/graphql-transformer/directives) used in combo with auto codegen.

For a production app I would likely use this... However for client POCs and getting stuff

[2020-06-11 13:12] adamf92 commented on #59
@benwinding I have ready implementation (with some points to be improved) with cursors saved in storage. I will open PR from my fork later today, when I'll back home. I had to implement it for almost production app and number of reads decreased from 50k daily, to 20-30k weekly

[2020-06-11 16:03] RWOverdijk opened #124 "How to use realtime"
I found the `watch` option and upon trying to use it noticed that it doesn't update my list when I make changes in the firestore console. How should this feature be used?

[2020-06-11 23:51] benwinding commented on #59
Wow thanks @adamf92! Glad to hear you got the reads down, I'll be interested to see your implementation :+1:

[2020-06-11 23:59] benwinding commented on #124
Hey @RWOverdijk,
Sorry the `watch` feature needs some work. In an earlier version it was used with the RealtimeProvider, but that's no longer supported by `react-admin` I think? (related to this issue #57)
I'll have a look at re-implementing the `watch` feature in the next week or so.
Cheers,
Ben

[2020-06-15 22:45] agentlewis commented on #59
@adamf92 epic effort mate.

On the topic of pagination I would say that from a UX POV is not very good. Infinite scroll is better. Ie scroll triggered next page.

What I mean: knowing the number of pages is pretty useless. What a user wants to know is the number of records that return for a given query. If no filters than return total number of records (relates to cursor tracking as you mentioned)

[2020-06-16 08:07] RWOverdijk commented on #59
I like that. A user will almost never look for a specific page number, and will much sooner use search or filters. So in terms of pagination I'd say an infinite scroll (with one of those "click to load more" fallbacks) would do the trick.

Same features, less reads. I'd say it's pretty clever. It deviates from react-admin so I think it should work as a plugin of sorts though. Allow for the regular

[2020-06-16 09:47] steventilator commented on #123
Hi @benwinding,

You are right, I never even thought about saving...

Where would this prefix be added? Is this something I can help you with?

[2020-06-16 10:32] OlivierVoyer opened #126 "Firebase SDK autoconfiguration"
H there,

First, thanks for this amazing product that is really powerful and easy to use.

I was wondering how possible it was to use Firebase Hosting SDK auto configuration (https://firebase.google.com/docs/hosting/reserved-urls#sdk_auto-configuration) to avoid having to put the Firebase config object directly in code. That would allow to deploy the code to different Firebase apps without having

[2020-06-16 12:09] agentlewis commented on #59
@RWOverdijk on the deviating from react-admin noticing. From my POV if the react-admin design methodology is using paginated views for tables they are behind the times and its just a question of when they update this to infinite scroll.

Airtable has already proven that you can do infinite scroll with tables really well and I'd say essentially proven this to be a better UX for customers. I just op

[2020-06-16 12:27] RWOverdijk commented on #59
I get that, and this would probably use virtualized lists of sorts to keep things snappy.

I agree with you, but I still think it should be a differently named component.

[2020-06-16 20:58] adamf92 commented on #126
You have to just fetch config from hosting special url:
[code]
Then you have just pass it to `firebase.initializeApp(config)` and  `FirebaseDataProvider` / `FirebaseAuthProvider`.

[2020-06-16 21:13] OlivierVoyer commented on #126
Thanks @adamf92 .
I tried this indeed but didn’t managed to handle the async call to pass my own firebase app instance to the providers then.
I’ll make new tries from your advice.
Side question: I can’t test it directly from the demo project because of the /__/ not being resolved and have to build it first and then serve through firebase serve. Any other easy way to test directly from ‘npm run sta

[2020-06-16 21:19] adamf92 commented on #126
I don't think it's possible (ok, everything is possible, but it will probably need many hours of workarounds), Firebase reserved urls existing only in firebase hosting or emulated hosting environment (firebase serve). I'm using standard config in file for local development and hosting urls for deployment

[2020-06-17 15:32] steventilator commented on #123
Wow, thank you for adding this functionality so quickly, @benwinding ! I am amazed.

I have just tried the branch with the pull request, and have found one little thing that's missing: It doesn't work with the `<ReferenceField />` component yet.

I will describe the issue more precisely in the pull request thread.

[2020-06-17 15:32] #123 closed

[2020-06-20 10:57] rzmz opened #129 "TypeError: Cannot read property '1' of null"
Hi,

When using this in a component provided to react-admin through customRoutes with noLayout set to true, there is an error thrown to console:
[code]

It occurs with the following code (first create a user with the correct id):
[code]

I get the same result when either running this authenticated and with an id not existing in the users collection or when not authenticated. I think the better way

[2020-06-20 11:00] rzmz commented on #129
My rules are nothing special:

[code]

[2020-06-22 15:05] #129 closed

[2020-06-22 15:09] benwinding commented on #129
Thanks for reporting the issue @rzmz,

Looks like you're right, it seems to be a problem with the `regex` parser for the `status-code-translator`.

https://github.com/benwinding/react-admin-firebase/blob/2b5e17dbd098307c80f64c8d4eed51028a0b3de0/src/misc/status-code-translator.ts#L33

This should be deployed in `v3.2.1`.

Try it out and let me know if the error persists or if there's anymore error

[2020-06-22 15:19] benwinding commented on #129
This also might be related to #123 which is caused by having a `DocumentReference` field in a document. This will be fixed soon by PR #127

[2020-06-23 13:22] slecoustre opened #131 "Firestore and object reference"
In my collection, my objects do contain an object reference table.

So when I want to display the list, I get a "parseAllDatesDoc" error. I can't understand why? and I can't figure out how to override it.

Can you help me?

Thank

[2020-06-23 23:51] benwinding commented on #131
Hi @slecoustre,
Sorry, Firestore documents with field's of type `DocumentReference`  are currently not supported.
They should be supported when this Pull Request #127 is merged
Also related: #123
Cheers,
Ben

[2020-06-24 05:10] slecoustre commented on #131
Hi @benwinding
Thank you for your response, I saw after I made my request.

When do you think it'll be merge

[2020-06-24 06:00] benwinding commented on #131
Hopefully the within the next week :+1:

[2020-06-24 06:02] slecoustre commented on #131
Good 👌

[2020-06-25 07:14] benfoley opened #132 "Uploading file to Firebase Storage replaces file filename with 'file' or index number"
I was expecting that FileInput uploads would use the file names when saving them into the Firebase Storage bucket, but the file is renamed. Is there an option to keep the original filename?

My upload code is:
[code]

Uploading two files results in this data in the Firestore record:
[code]

And Storage ends up with two PDFs with file names `0`, `1`. If multiple is false, then the file is renamed t

[2020-07-01 04:40] sonpnh95 opened #133 "not redirect home page after login success"
please help me soon :(

![Screenshot from 2020-07-01 11-38-14](https://user-images.githubusercontent.com/19526704/86203579-94d62100-bb8f-11ea-80b5-fcc895e80ac5.png)

[2020-07-04 04:52] #133 closed

[2020-07-10 16:13] MichalKalita opened #135 "Use this extension to login and upload files, not for data"
Hi, I have other react-admin-data extension for data.

I just want to use firebase auth login and firebase storage for images.

What is the best solution how to do it?

[2020-07-12 23:30] lafayetteduarte commented on #69
Hey , i have something similar to your requirement in one of my projects.
I used firebase custom claims to restrict access to the app and permissions from the authprovider to only allow tokens with a specific claim to access.
if the users token do not contais the custom claim, i sign the user off.
my original plan was to build a custom route with an access denied message but the signout approach w

[2020-07-14 00:32] benwinding commented on #135
Hi @MichalKalita,

This library `react-admin-firebase` offers 2 providers:

1. **_DataProvider_** - Uses the Firestore Database + Firebase Cloud Storage
2. **_AuthProvider_** - Uses Firebase Authentication

You can configure one or both of them with `react-admin`.

## Uploading Files

Unfortunately, there's no way to use Firebase storage without Firestore, as the references to the Storage location

[2020-07-14 00:32] #135 closed

[2020-07-14 00:47] benwinding commented on #135
Also see this StackOverflow answer which shows how to use multiple dataproviders in react-admin:

https://stackoverflow.com/questions/52889909/how-is-the-correct-way-to-have-multiple-dataproviders-in-react-admin

[2020-07-14 01:51] benwinding commented on #69
Hey Guys,

Yes _Authorization_ this is a pretty crucial feature for most admin panels. Right now this is possible using the standard method of Authorization within `react-admin` [see this link for details](https://marmelab.com/react-admin/doc/2.8/Authorization.html).

The most secure way to enable this is to use [Custom Claims](https://firebase.google.com/docs/auth/admin/custom-claims#access_custo

[2020-07-20 02:28] 7200rpm opened #137 "Set resource collection based on user"
Hi,

I'd like to be able to set my resource collection based on the logged in user (e.g. users/Jane), but can't seem to figure out a way to do this easily. I see you can set the `rootref` in the options, but this would only be static. I need to set this dynamically based on who is logging in..

Seems like this would be a common use case where someone has different documents for each user. Am I mis

[2020-07-21 06:54] thuan1412 opened #138 "Missing or insufficient permissions."
I get the error "FirebaseError: [code=permission-denied]: Missing or insufficient permissions."  when my database rule is "allow read, write: if request.auth != null;"
With "allow read, write:" rule, everything works fine.

[2020-07-21 07:27] benwinding commented on #138
@thuan1412, do you have the login page included?

See here for more details: https://github.com/benwinding/react-admin-firebase/blob/master/src-demo/src/CustomForgotPassword.js

`allow read, write: if request.auth != null;` this means you need to be authenticated.

[2020-07-21 08:00] benwinding commented on #132
Hey @benfoley,
Thanks for contributing, that's a great idea. I'll merge in your PR and add it as an option to the configuration options.
Cheers,
Ben

[2020-07-21 12:10] thuan1412 commented on #138
Thank you, I solved the problem.

[2020-07-21 12:10] #138 closed

[2020-07-23 09:11] thuan1412 opened #139 "It take too long to get data from a big firebase collection"
My collection( namely `Player`) has roughly 17000 document. When i open the list of players( get 10 players from 17000), it take me about 15s to load the page. I have tried fetch the same data using _firebase-admin_ and it take less than 1s to get 10 players. So my question is how can i improve this slow loading.

[2020-07-23 16:56] thuan1412 commented on #139
`const collectionQuery = filterSafe.collectionQuery;
    delete filterSafe.collectionQuery;

    const r = await this.tryGetResource(
      resourceName,
      "REFRESH",
      collectionQuery
    );
    const data = r.list;
    if (params.sort != null) {
      const { field, order } = params.sort;
      if (order === "ASC") {
        sortArray(data, field, "asc");
      } else {
        sortArray

[2020-07-26 22:55] dhstack commented on #115
I just checked and the image in storage is not deleted in v3.2.2.

This is especially important now that filenames can be unique with https://github.com/benwinding/react-admin-firebase/pull/134 as there could be a build up of old files. Vs the old way without the new `useFileNamesInStorage` option, the file is just overwritten.

[2020-07-27 06:53] splex7 commented on #137
In other words, do you want to create and control the firestore collection of users accessed via Authentication?

[2020-07-27 06:53] splex7 commented on #137
In other words, do you want to create and control the firestore collection of users accessed via Authentication?

[2020-07-28 22:07] benwinding commented on #115
Good point @dhstack, thanks for reminding me. I've done something similar in another package here (angular):

https://github.com/benwinding/mat-firebase-upload/blob/bc3f46a42de75376c8c40698ffb9d637563448fe/projects/mat-firebase-upload/src/lib/firebase/uploads-manager.ts#L129-L150

The problem with doing this in `react-admin` is that we need to compare the _current_ vs _new_ document to determine w

[2020-07-31 13:11] sic4change opened #140 "Redirect always to Dashboard page after login"
Hi,
how can I to force to my web appliction to go to Dashboard page after login?

Regards

[2020-07-31 22:34] sebitoelcheater opened #141 "Getting list of resource with rules associated to the user id will throw permission denied, even if querying by it"
Let's say there is a collection called `invoices` with an `uid` field that defines the user that owns an `invoice`.
Let's say there is a Firestore rule in order to protect `invoices` reading from users that do not own the `invoice`.
[code]
Then, the query
[code]
will return the `invoices` owned by the current user, and will throw no error, as [documented here](https://firebase.google.com/docs/fire

[2020-08-03 00:00] benwinding commented on #140
Hi @sic4change,

As per this [StackOverflow question](https://stackoverflow.com/questions/52060397/how-to-redirect-to-some-other-route-after-successful-authentication-in-react-adm) you can wrap the `FirebaseAuthProvider` and perform a redirect after login:

### Wrapping the AuthProvider

[code]
Also [more information here in the react-admin docs](https://marmelab.com/react-admin/Authentication.htm

[2020-08-03 12:23] sic4change commented on #140
Thanks @benwinding

I use your code, and use myAuthProvider here:

[code]
But, now my logout button it is not working....and redirect to Dashobard, It is necessary any additional configuration?

Regards

[2020-08-03 23:10] 7200rpm commented on #137
Yes, and access only the resources that are owned by the logged in user.

[2020-08-04 07:27] benwinding commented on #140
Hmmm strange, I thought the logout would still work.

What exactly happens when you click the logout button?

[2020-08-04 07:40] sic4change commented on #140
Hi @benwinding

When I click in logout button redirect to Dashboard.

My code:

[code]

[code]

[code]

Regards

[2020-08-04 23:54] benwinding commented on #140
Hi @sic4change,

Can you try using `login` for the redirect, like this:

[code]
Kind regards,
Ben

[2020-08-05 14:14] terrierscript opened #142 "ReferenceError: localStorage is not defined"
I use  `react-admin-firebase` with next.js, I got `ReferenceError: localStorage is not defined`.
It's seems occure from [Logger](https://github.com/benwinding/react-admin-firebase/blob/6e19e10846911b0ff82820cf44bcb20dfa5d7574/src/misc/logger.ts) and I try `{logging:false}` but this error occured.
Can I resolve this?

[2020-08-05 18:27] gespispace opened #143 "Add support for use ReferenceManyField"
I try use `react-admin-firebase`(`r a f`) and I have data structure how to example in `react-admin`.

For instance, if a `user` has many `books` and the `books` resource exposes a `user_id` field, `<ReferenceManyField>` can fetch all the books authored by a given user.

But `r a f` get all collection books and filtering.
I think apiGetManyReference should create query and if pass filter object in

[2020-08-06 07:26] sic4change commented on #140
Hi @benwinding

your solution is not working. Now when click in logout, my web application go to login page, but after login goes to last page showed not goes to dashboard.

is there any solution?

Regards

[2020-08-06 11:06] sic4change opened #144 "Disable Cache"
Hi,

is there a way to disable cache duration?

Regards

[2020-08-06 23:45] benwinding commented on #144
Hi @sic4change
What cache duration are you talking about? The caching of collections in the data provider?

[2020-08-06 23:50] benwinding commented on #142
Hi @terrierscript,
Yes `localStorage` is a browser side feature, used in both `react-admin-firebase` and `firebase`. Which means you cannot do server-side rendering with this library.
I'm not sure how to do it, but you have to tell `next.js` not leave that part to the client SSR.
Let me know if this makes sense,
Cheers,
Ben

[2020-08-07 09:16] sic4change commented on #144
Hi @benwinding

I am talking about to disable all cache saved when user logout.

Regards

[2020-08-12 07:09] terrierscript commented on #142
OK, I found  workaround

[code]

[2020-08-12 07:09] #142 closed

[2020-08-17 05:05] seranotannason commented on #137
Hey @7200rpm, I agree that this would be a very useful feature. I think this issue is a more general version of our problem: https://github.com/benwinding/react-admin-firebase/issues/7. Essentially, accessing a resource sub-collection under the user (e.g. users/Jane/some-sub-collection) is not possible under react-admin-firebase yet.

[2020-08-17 06:15] seranotannason commented on #7
Hey @benwinding,

One idea is to tackle a subproblem of this issue, which I believe is the most useful one: subcollections under `users/{loggedInUser.uid}/subcollection`. I opened an issue https://github.com/marmelab/react-admin/issues/5163 in react-admin, though I don't expect them to support it since it requires constraints on all forms of DataProvider (e.g. a REST API must adhere to the format

[2020-08-20 06:36] splex7 commented on #137
@7200rpm.
There is no user collection base on Firebase Authentication.In my case, when a user is created through Firebase Authentication, the function is triggered to create a new document in the users collection of firestore with the corresponding email.
this may help you
https://bigcodenerd.org/create-user-profile-firestore-authentication/

[2020-09-02 12:31] Gurdeep-Sharma opened #145 "Can i disable devtool console logs of react-admin-firebase."

[2020-09-03 02:04] Gurdeep-Sharma commented on #145
Hi ,
I want to disable react-admin-firebase console logs in build of my react app , can i do this ?

[2020-09-03 03:03] benwinding commented on #145
Hey @Gurdeep-Sharma,
Sure, just use
[code]
Find more options here: https://github.com/benwinding/react-admin-firebase#options
Cheers,
Ben

[2020-09-03 03:29] Gurdeep-Sharma commented on #145
Hey @benwinding ,
Thanks for the answer.

[2020-09-03 03:29] #145 closed

[2020-09-06 18:34] benyass002 opened #146 "Get current user uid and use it to create user collection"
Hi,

I'd like to be able to set my resource collection based on the logged in user uid ,
I need to set **rootRef** dynamically based on the logged in user.

i tried using **localStorage** with no success .

my code :

  const authProvider = FirebaseAuthProvider(config,Authoptions);

  var currentUser = JSON.parse(localStorage.getItem('firebase:authUser:#######################":[DEFAULT]') || '{}')

[2020-09-09 17:49] acbrimer commented on #146
Hey benyass002,

I was able to achieve something similar by creating a "super" data provider based on this article: https://blog.theodo.com/2019/04/react-admin-second-api/

Best solution I've come up with for my use case is to hard-code an array with the resources that belong to my parent document (the profile for the current user) to check against when the super data provider is called. If the ar

[2020-09-09 18:21] benyass002 commented on #146
thank you i will surely give it a try !

[2020-09-09 18:21] #146 closed

[2020-09-18 18:01] amilgeorge opened #148 "Server side filtering not supported in GET_MANY and GET_MANY_REFERENCE"
Server side filtering (using collectionQuery) is only supported  for GET_LIST queries.
It will be nice to have server side filtering for GET_MANY and GET_MANY_REFERECE queries.

[2020-09-21 12:03] AyaAshrafSABER opened #149 "Adding Custom Headers for dataprovider"
I want to add a Bearer access token to header request. As I use Auth0 to complete Authintication flow , but to access firestore
you have to be authorized.
Is there any way to help me to add custom header?

[2020-10-05 08:36] BasyiddW commented on #7
Hello @benwinding

I am currently encountering the same problem, do you mind looking at it and providing me with a feedback?

https://stackoverflow.com/questions/64195361/performing-a-crud-function-to-a-sub-collection-for-firestore

[2020-10-05 11:06] keisukee opened #150 "記事のpreview機能"

[2020-10-05 11:15] keisukee opened #151 "productがhtmlそのまま出力されている"
![image](https://user-images.githubusercontent.com/38725877/95073227-6f852000-0747-11eb-8336-bee6f8f43d91.png)

[2020-10-05 11:20] keisukee opened #152 "admin 親カテゴリを消す"
![image](https://user-images.githubusercontent.com/38725877/95073667-326d5d80-0748-11eb-820a-3e95426a5267.png)

親カテゴリが、一旦保存されると、消せない

[2020-10-05 16:22] juhorichard opened #153 "Get photo url from storage"
How I can get photo URLs from firebase storage with react-admin-firebase

Example:
 const photo = await firebase
    .storage()
    .ref("assets/photo.png")
    .getDownloadURL();

[2020-10-05 19:50] #149 closed

[2020-10-06 06:21] splex7 opened #154 "How to get First & Last name from email&password createAccount"
![image](https://user-images.githubusercontent.com/12082436/95164713-75c9d980-07e5-11eb-9856-3d712037b0b2.png)

Hi! react-admin-firebase is awesome !!
I got small question. I created firebase-function for create custom user profile to firestore.

When user submit createaccount form, functions.auth.user().onCreate(userRecord) triggered.
at that time, "userRecord" object contained email value but no

[2020-10-10 05:12] tarunkishore2303 opened #156 "How do I upload an image using Fileinput"
I am unable to upload an image to my firebase and struggling due to the lack of documentation. Can you please help me ?

[2020-10-14 22:33] Will-Mann-16 opened #157 "Cannot update/delete anything"
I've set this up with React Admin for my data in firestore, but I can't seem to update or delete anything? I can create new entries but nothing else. Anyone have any ideas why? I'm running my own custom authentication in the root level app, and disabled the provider for the main react admin.

It's on a pastebin because github was being a pain in formatting it correctly.

https://pastebin.com/7nka8

[2020-10-18 05:13] #156 closed

[2020-10-18 07:11] #148 closed

[2020-10-18 07:12] benwinding commented on #148
Hi @amilgeorge,
This is now implemented in `GET_MANY_REFERENCE` queries. `GET_MANY` is not implemented though as it doesn't have a filter.

[2020-10-18 07:18] benwinding commented on #154
Not sure how to edit that field, you might be able to edit the fields after the user has _Signed Up_ and has been created.

Aparently you can edit the fields once the user has logged in, as this SO answer shows:

https://stackoverflow.com/a/38389406/2419584

Anyway this isn't really related to this repository, so I'm closing the issue for now.

[2020-10-18 07:18] #154 closed

[2020-10-18 07:40] #144 closed

[2020-10-21 12:45] steventilator opened #158 "Filter by array-contains"
Is it possible to add a permanent filter to query with `array-contains`? Like `firebase.firestore().collection('users').where('companies', 'array-contains', companyID)` but with the `filter` property on a `List` component.

[2020-10-21 13:14] steventilator commented on #158
Sorry, my mistake. `filter={{ companies: company.id }}` works if `company.id` isn't `undefined`...

[2020-10-21 13:14] #158 closed

[2020-10-22 00:44] benwinding commented on #158
Hi @steventilator,
Yes it is possible to pass any firebase query into the filter by passing in a `collectionQuery` function.

Your's would look something like this:
[code]
Let me know if you have any more difficulties,
Cheers,
Ben

[2020-10-28 06:24] atuljain2995 opened #159 "TypeError: Cannot read property 'logging' of undefined"
When I added react-admin-firebase for Authentication, it gives the following error:

**TypeError: Cannot read property 'logging' of undefined**
[code]

[2020-10-28 08:19] simokhalil commented on #139
Any updates about this ?
Experiencing the same problem here

[2020-10-29 05:48] CBrian04 opened #160 "Login on react admin only if user have some custom claim"
Hi Benwinding, and before telling you about my problem, I would like to thank you a lot for your wonderful work on this project!
I build an e-commerce app where I included react-admin to handle changes in product's database made by the owner of the business.
Problem is that I don't know if there is a way to pass an option to the AuthProvider to login users only if they have a particular firebase c

[2020-10-29 16:07] thuan1412 commented on #139
@simokhalil You have to create a new FirebaseProvider that use Firebase to sort, find, v.v document.

[2020-10-29 18:00] simokhalil commented on #139
Found this interesting PR #125 that implements a data provider using the Firebase SDK instead of downloading all data, and it's working great so far, except the pagination but that's not a problem for me

[2020-10-31 20:15] s-graber opened #161 "Filtering with gte/lte"
I'm trying to use filters such as
`<DateInput source="date_gte" />`
But I don't find this type of filtering feature in the provider.
How can I achieve this way of filtering?

[2020-11-06 00:03] benwinding commented on #160
Hi @CBrian04,
Thanks for checking out the project. You would need to do 2 things:
- Wrap the default Auth Provider in order to check custom claims first [see this link for details](https://github.com/marmelab/react-admin/blob/master/docs/Authorization.md)
- Check custom claims using the _react-admin-firebase_ auth provider [as shown here](https://github.com/benwinding/react-admin-firebase/issues/1

[2020-11-06 10:21] CBrian04 commented on #160
Thanks a lot for the response, I have done something like the code below to modify the handlelogin function before you answered me ( I put it here if someone is interested), it seems to work quite well, I will take a look at the resource you gave me to see if I can improve my code.

My code :

`const authProviderF = FirebaseAuthProvider(config, options);
const handlelogin = async (params) => {
  c

[2020-11-07 12:02] benwinding commented on #160
Glad you got it working @CBrian04!

- Here's another example of _Authorization_: https://github.com/benwinding/react-admin-firebase/issues/69#issuecomment-657919226

## Another Way
The following is a pretty clean way to wrap the _AuthProvider_ (should have linked this before!)

[code]
Cheers,
Ben

[2020-11-07 12:02] #160 closed

[2020-11-08 15:14] tux240 opened #162 "Signup a user on Firebase Authentication"
hi,

Is it possible to signup a new user when creating a new user in the admin list ?
Or, is it possible to call a Firebase Cloud Function ?

Thanks

[2020-11-09 05:48] sreenath-n opened #163 "Sort not working when key is nested like "key.subKey""
![image](https://user-images.githubusercontent.com/69649218/98504288-9ec60a00-227c-11eb-97fa-6bc01da46ae2.png)

The following TextField tag is used:

`<TextField source="totalValue.totalEstimatedAmount" label="Total Amount" />`

Sort is not working in this case. Any workaround for now ?

[2020-11-09 05:57] sreenath-n opened #164 "DateField incorrectly shows hour as 0 for AM/PM format"
![image](https://user-images.githubusercontent.com/69649218/98505063-61fb1280-227e-11eb-9ba3-495d30d084e5.png)

The following DateField tag is used:

`<DateField showTime options={{ weekday: 'short', month: 'short', day: 'numeric', hour: 'numeric', minute: '2-digit', hour12: true }} />`

[2020-11-09 16:24] tarunkishore2303 opened #165 "dataprovider.getList is not a function"
When I tried to console log dataprovider.getList it says it is not a function and the intellisense works for authprovider but not for dataprovider

[2020-11-09 16:36] tarunkishore2303 opened #166 "Some files have not been imported properly"
Many false imports are found in the package. Hope you can fix it or I would be happy to help with a pull request !

[2020-11-10 06:38] benwinding commented on #164
Hi @sreenath-n
That's strange! Yeah the `<DateField />` is actually a part of the [react-admin](https://marmelab.com/react-admin/Fields.html#datefield) library.
Please create an issue in that repository: https://github.com/marmelab/react-admin/issues
Cheers,
Ben

[2020-11-10 06:38] #164 closed

[2020-11-10 07:15] #163 closed

[2020-11-10 07:16] benwinding commented on #163
Hey @sreenath-n,
Should be fixed in `react-admin-firebase@3.2.7`,
Let me know if that works now.
Cheers,
Ben

[2020-11-10 07:28] benwinding commented on #166
Hi @tarunkishore2303,

Not sure what this means, can you post the terminal output?

Also send through a PR if you like!

Cheers,
Ben

[2020-11-10 09:53] #165 closed

[2020-11-10 09:55] benwinding commented on #165
Thanks @tarunkishore2303,
This `dataprovider.getList` is the new `react-admin` api for dataproviders, it's been migrated to that now, let me know if there's any issues.

[2020-11-10 10:16] sreenath-n commented on #163
This is working correctly now.
Thanks @benwinding

[2020-11-10 10:19] sreenath-n commented on #164
Thanks @benwinding
I just created the issue in react-admin:
https://github.com/marmelab/react-admin/issues/5507

[2020-11-10 10:35] benwinding commented on #153
Hi @juhorichard,

Apologies for the delay, you can now access the initialized firebase sdk app from the `dataProvider.app()`.

Your example would look like this:
[code]
Cheers,
Ben

[2020-11-10 10:35] #153 closed

[2020-11-10 10:44] benwinding commented on #162
Hi @tux240,

If you'd like to allow signups on the site you can use the [CustomLoginPage described here](https://github.com/benwinding/react-admin-firebase/blob/663dad9b71dde6dc999710eec69d563a3f08093a/src-demo/src/CustomLoginPage.js):

If you'd like to create a user, _AFTER_ adding them in a firestore collection (users). Then you might want to create a cloud function which watches that collection

[2020-11-10 10:44] #162 closed

[2020-11-10 10:46] #159 closed

[2020-11-10 10:47] benwinding commented on #159
Thanks for reporting @atuljain2995
Should be fixed now!

[2020-11-10 10:50] benwinding commented on #151
Hi @keisukee,
If you're displaying HTML then you need the `<RichTextField />`
[As Shown in the React Admin Docs](https://marmelab.com/react-admin/Fields.html#richtextfield)

[2020-11-10 10:50] #151 closed

[2020-11-10 10:52] benwinding commented on #152
_From Google Translate:_

Not sure what you mean by this? Can you give some more information?

[2020-11-10 10:55] benwinding commented on #150
_From Google Translate:_

Not enough information in this, closing for now.
Try adding feature requests to [the base library here](https://github.com/marmelab/react-admin)

[2020-11-10 10:55] #150 closed

[2020-11-10 10:55] #152 closed

[2020-11-10 11:15] benwinding commented on #157
Apologies for the delay, if you haven't already solved it. Try the following:

- Do you have rules on your firestore database? That could be a reason there's nothing updated/deleted.
- Can you update to the latest version (deployed `3.2.10` today)

Let me know how you go,
Cheers,
Ben

[2020-11-10 11:34] benwinding commented on #161
Hi @s-graber,
We've just updated the DataProvider to the new _react-admin 3.x_ api. Would you be able to check the issue still exists. Few other things you can do:
- How to use the DataProvider to filter items:
https://marmelab.com/react-admin/DataProviders.html
- Check the tests in this repo to see how the filter works ([example test](https://github.com/benwinding/react-admin-firebase/blob/master

[2020-11-10 11:54] benwinding commented on #141
Hi @sebitoelcheater, Apologies for the delayed response.

This is actually a limitation of the firestore security rules. There's a few points to remember when implementing rules like this:

Basically if you are checking the document's data field's in a Firestore rule then:
- Getting a single document will evaluate the rules ✓
- Getting a multiple documents (whole collections, partial collections)

[2020-11-10 11:54] #141 closed

[2020-11-12 21:47] pasdoy opened #168 "apiUpdate has no await, apiUpdateMany does. Expected ?"
apiUpdate https://github.com/benwinding/react-admin-firebase/blob/master/src/providers/database/FirebaseClient.ts#L156

apiUpdateMany https://github.com/benwinding/react-admin-firebase/blob/master/src/providers/database/FirebaseClient.ts#L184

I ran into a issue where I use a externally provided composent (it uses firebase client directly). The react-admin Edit (undoable=false) component redirect

[2020-11-13 00:09] #168 closed

[2020-11-13 00:10] benwinding commented on #168
Hi @pasdoy,
That I think it was to provide a faster experience for people (as it would return immediately) but this seems like a stupid idea now...
Converted it back, should be deployed in version `3.2.11`.
Cheers,
Ben

[2020-11-16 21:56] s-graber commented on #161
Hi @benwinding,
it still exists. I checked with the a test in ApiGetList.spec.ts:

[code]

I tried to use collectionQuery but I didn't get it run for dynamic filtering.

[2020-11-17 04:42] rodrigo-nogues opened #169 "FirebaseAuthProvider.checkAuth returns Promise<User> instead of Promise<void>"
It seems there is a type incompatibility in the `AuthProvider` between the `checkAuth` return type from `ra-core` (returns `Promise<void>`) and react-`admin-firebase` (returns `Promise<User>`).

Error:
[code]

Code snippet:
[code]

Using:
[code]

[2020-11-17 19:45] ixora-vc commented on #169
Having the same issue

[2020-11-18 00:50] benwinding commented on #169
Ahh okay, yes that was a recent change here https://github.com/benwinding/react-admin-firebase/commit/7c742af6ff387dbc5a5c9b359b95a56383cad168,

Basically, I was unaware that `ra-core` had strictly enforced the return type of some promises, should be fixed in the next release.

Thanks for reporting the issue

[2020-11-18 01:04] #169 closed

[2020-11-18 01:20] benwinding commented on #161
Hi @s-graber ,

A couple of points:

- That sort field is incorrect changed data to have `obj` field too
- There's no way to query like that in the `react-admin` base framework
- You need to use the `collectionQuery` interface in the filter (as shown below in the working test).
- Not sure how you can get dynamic filtering with `collectionQuery` interface though, but I'm sure it's possible as that

[2020-11-18 03:20] rodrigo-nogues commented on #169
Thanks for the quick fix @benwinding!

[2020-11-19 03:05] gyatashoa opened #171 "{status: 200, message: "RangeError: Maximum call stack size exceeded", json: undefined} json: undefined message: "RangeError: Maximum call stack size exceeded" status: 200}"
I have being getting this from the server, am using the current versions of react-admin-firebase and react-admin
![err](https://user-images.githubusercontent.com/56544318/99615872-1978ed00-2a14-11eb-8dc6-1051177fcaf9.PNG)

[2020-11-20 14:45] steventilator opened #173 "Question: Use filters to set filter prop?"
If I'm not mistaken, setting default filters with the `filter` prop (not `filters`) is a way to reduce the number of documents the `List` component fetches from Firestore. Instead of fetching the complete collection and filter on device, the `List` then only fetches the documents that pass the `filter` query.

Is there a way to use the react-admin `filters` to set the `filter` prop?

For example,

[2020-11-20 17:49] #119 closed

[2020-11-20 18:29] gyatashoa opened #174 "How do you override some of the default fields that are sent to cloud firestore?"
I wanted know how to override certain fields that are sent to cloud firestroe with a different title,
Like the createdate field, i wanted to make it created_at

[2020-11-21 03:42] #174 closed

[2020-11-21 03:52] benwinding commented on #174
Hi @gyatashoa,
This was originally too hard to implement, but after a good refactor it was easy. So there's a new option you can use called `renameMetaFields`, it's used like this below:
[code]
Let me know if there's any issues,
Cheers,
Ben

[2020-11-21 03:58] benwinding commented on #171
Hi @gyatashoa,
That looks like a client error that occurred in the browser. It could be due to having a `DocumentReference` field in one documents returned to the client. Can you give me some more information around the context of the issue?
- What types of fields are in the document? eg: `Timestamp`, `DocumentReference`, `GeoLocation`
- What view causes the error? `List`, `Create`
- Is there a ce

[2020-11-21 04:25] #161 closed

[2020-11-21 08:26] benwinding commented on #143
Hi @gespispace,
Apologies for the late response, yeah that should be possible, would you be able to create an example project for us to look at, so we can understand it a bit better?
Cheers,
Ben

[2020-11-21 08:34] benwinding commented on #173
Hey @steventilator,
[According to the documentation](https://marmelab.com/react-admin/List.html#filters-filter-inputs) the `filter` prop is for permanent filter attributes, meaning you can't dynamically alter it, but I'm not 100% sure. Maybe try asking the question on the `react-admin` project and let me know how you go.
Unless anyone else has anymore information?
Cheers,
Ben

[2020-11-22 17:16] gyatashoa commented on #171
I think i found out what caused it. I was trying a to access a document reference in a list component.
Is there any way around this

[2020-11-22 22:28] benwinding commented on #171
Currently this is not possible, as only the properties are accessible, hmmm that would be a good feature to resolve document references though...

This PR #127 is also a work in progress to try and allow document references.

[2020-11-22 23:30] gyatashoa commented on #171
Okay mate, thanks

[2020-11-22 23:35] gyatashoa commented on #171
Also wanted to know how to delete a file from firebase storage when its corresponding document is deleted . At the moment saving an image, saves the download path to that image in storage so I wanted to know how to deleted a document and it will also delete the corresponding image

[2020-11-24 12:20] #59 closed

[2020-11-24 12:21] benwinding commented on #57
React admin is a premium module now, closing, will open again if needed
https://marmelab.com/ra-enterprise/modules/ra-realtime

[2020-11-24 12:21] #57 closed

[2020-11-24 12:22] benwinding commented on #124
ra-realtime is only available in the premium version of react-admin, closing, will open again if needed
https://marmelab.com/ra-enterprise/modules/ra-realtime

[2020-11-24 12:22] #124 closed

[2020-11-25 07:46] bayareacoder commented on #173
You can use the `setFilters` callback from your custom filter component to set `filter` manually See https://marmelab.com/react-admin/List.html#building-a-custom-filter

PS
The more efficient approach with Firebase for filtering is to structure your data such that whatever you need to filter on is part of the path that you subscribe to.

[2020-11-25 16:34] steventilator commented on #173
@bayareacoder Thanks for the tip. That would actually work. Unfortunately, I need to set the `collectionQuery` key in the `filter` object. My task is to query by a date range. (In my case, show all sessions in a month.)

@benwinding Asking in the `react-admin` project was not helpful: https://github.com/marmelab/react-admin/issues/5586

I ended up solving it with the use of a Cloud Function.

[2020-11-25 16:34] #173 closed

[2020-11-25 23:56] benwinding commented on #173
@steventilator, sorry to hear that it wasn't helpful, yeah I guess StackOverflow is a better place to post.

But glad to hear you fixed the issue.

[2020-12-01 20:01] michalens commented on #162
@benwinding how do I then set up a password for that user? Is there a way for email to be sent to the user, with a link where he can set up his password.
Also, how to reset passwords?

[2020-12-01 22:35] benwinding commented on #162
Hi @michalens,
That's out of the scope of this package for now. Please check out the Firebase documention:
https://firebase.google.com/docs/auth/admin/email-action-links#generate_password_reset_email_link
I would recommend making a cloud function that emails someone a firebase generated password reset link.
Cheers,
Ben

[2020-12-06 18:50] RyanDingo opened #176 "Accessing the "type" in "rawFile" from FileInput"
Does anyone know how to check the file type of the rawFile that gets created through FileInput?

I have tried a number of ways, record.rawFile gets me to the File but then I get stuck when it comes to getting to the type. I can't do record.rawFile.type. does anyone have any ideas?

I would greatly appreciate it.

[2020-12-06 22:45] benwinding commented on #176
Rawfile is just a temporary field that is removed after the file is uploaded to cloud storage.

If you just want to allow certain files you can use the `accept` field in the `<FileInput />` component [as shown here](https://marmelab.com/react-admin/Inputs.html#fileinput).

[code]

[2020-12-07 08:57] kiptoomm commented on #57
hi @benwinding, is there no way to use the [ra-realtime module](https://marmelab.com/ra-enterprise/modules/ra-realtime) with this library at all? we really need this feature but are currently using the latest versions (v3.x of both ra and raf)

[2020-12-07 23:15] benwinding commented on #57
@kiptoomm are you an _react-admin_ enterprise customer then?

Apparently they redesigned the entire _ra-realtime_ module, and I'm not sure it's even open-source anymore, this is why it hasn't realtime support hasn't been implemented in this library.

[2020-12-08 04:41] kiptoomm commented on #57
@benwinding no we're not on the premium version (looks good but not yet attainable for our fledgling business 😅). I have followed the thread in https://github.com/marmelab/react-admin/issues/5547 and now see why you're not sure if `ra-realtime` is no longer an open source module.

Well, do you have any suggestions on how we can still use RAF and achieve some kind of real-time effects? To be more p

[2020-12-08 06:12] benwinding commented on #57
Hi @kiptoomm,
Thanks for the detailed response. One way you can implement that type of realtime update is by refreshing the view, when something in the database changes, here's an example of the workflow:

1. Subscribe to a specific collection change in firestore
2. When the collection changes, refresh the view

**Try something like this (this hasn't been tested):**
[code]
Let me know how it goes,

[2020-12-08 12:27] RyanDingo commented on #176
Thank you Ben! I am not sure how I passed by that so many times in the documentation.

[2020-12-08 12:27] #176 closed

[2020-12-09 15:23] petrbui opened #177 "Issue with edit post"
Hello o open issue at react-admin they told me it will maybe be with backend I using firebase

https://github.com/marmelab/react-admin/issues/5647

[2020-12-10 11:29] #177 closed

[2020-12-29 09:53] MMostafaKamal commented on #139
Does the library implement backend pagination ? because I understand that it's not possible to get a collection count in Firestore without performing a read on said collection.

[2020-12-30 17:15] yusrimathews opened #178 "Restricting access with permissions"
I've set user permissions in Firebase using "setCustomUserClaims" and "authProvider.getPermissions()" returns the permissions array I've set. However, restricting access to resources or views are not working:

https://marmelab.com/react-admin/Authorization.html
`<Admin
    dataProvider={dataProvider}
    authProvider={authProvider}

    {permissions => [
        // Restrict access to the edit and

[2020-12-30 17:29] yusrimathews commented on #115
I've managed to plug the gap with a cloud function in the mean time, when a document is deleted:
[code]

And when a document is updated:
[code]

The image source contains the image path, therefore I am using `cleanImagesArray` to clean up the array:
[code]

Annoyingly, you can't get an image by image source with the admin SDK (which you can do with the web SDK, in case that helps Ben). **The updat

[2021-01-03 22:08] benwinding commented on #178
Hi @yusrimathews,

The way permissions is set up is as an _Array_ of claims so try using

[code]

## Restricting Login

As discussed in #140, you can wrap the authProvider, so that it _require's_ that the user has the 'admin' claim set (as shown below).

[code]
Cheers,
Ben

[2021-01-27 23:31] dhstack commented on #171
@gyatashoa RE deleting images from storage when a document is updated, there's an issue for that here: https://github.com/benwinding/react-admin-firebase/issues/115

[2021-01-27 23:44] dhstack commented on #126
@OlivierVoyer I had this same issue with wanting to deploy to multiple projects/apps and also easily test locally.

What I ended up doing was using a `.env.local` file for local development and using [CloudBuild](https://cloud.google.com/cloud-build) + [environment variables](https://cloud.google.com/cloud-build/docs/configuring-builds/substitute-variable-values) for the deployed app. It's actuall

[2021-01-28 01:27] dhstack opened #179 "Lazy load Firebase error"
When I enable `lazyLoading= true` in the version 3.2.17 of react-admin-firebase, I get this error on the list view:

[code]

I originally got this error with:
Firebase: 7.24.0
React Admin: 3.10.2
React Admin Firebase: 3.2.17

So I updated and still got this error with:
Firebase: 8.2.4
React Admin: 3.11.4
React Admin Firebase: 3.2.17

Any idea what's going on?

[2021-02-04 02:43] semonec opened #180 "While create document on firestore, <DateInput> stores string as `yyyy/mm/dd` not timestamp."
I implemented the create like below,
[code]
but when I check the my_field_date at the created document in firestore. it displays as string, not a `Timestamp`

Is there any usage examples?

[2021-02-04 03:14] semonec commented on #180
Found bymyself
use
[code]

[2021-02-04 03:14] #180 closed

[2021-02-04 17:22] kptdaaron opened #181 "Cannot login user from users collection"
Hi! I'm fairly new and not sure if this is really an issue with react-admin-firebase, so forgive me on this.

I'm using dataProvider={firebaseDataProvider} on my **App.js,** and is successful on adding documents to firestore under _users_ collection. However, I also want to authenticate (and if possible authorize) user in _users_ collection.

I've read the firebase docs and found out that _createU

[2021-02-15 00:07] VihG commented on #179
Same problem here

[2021-02-15 00:16] benwinding commented on #179
Hmm sorry for the late response @dhstack @VihG ,
That firebase error occurs when a function somehow passed into the Dataprovider query, instead of a string field name.
Can you please provide some more context on how you reproduce the error?
Cheers,
Ben

[2021-02-15 19:09] VihG commented on #179
Hello @benwinding

Im my case the message error is
<code>FirebaseError: [code=invalid-argument]: Function Query.where() called with invalid data. Unsupported field value: undefined</code>

In my application I have multiple users and I need to filter through the records that each user has created. For this I am using the permanent filter of the List component. If I remove this filter the error does

[2021-02-16 13:12] VihG commented on #181
You can use _createUserWithEmailAndPassword_ in the SingUp page. For Login read this docs: https://marmelab.com/react-admin/Authentication.html#customizing-the-login-and-logout-components

[2021-02-22 04:26] dhstack commented on #179
@VihG Thanks for pointing me in the right direction.

@benwinding I too am having the issue only when using the permanent filter in the list component. After temporarily removing it, I didn't get the error anymore.

[code]

This is the error I get in the UI:
![image](https://user-images.githubusercontent.com/2013388/108662183-c6dc2080-749b-11eb-95b9-2020d7813242.png)

This is the error I get in th

[2021-02-27 12:12] dalwadani commented on #137
This is how I did it:

[code]

Please note that this code is not optimized and can be improved.
This is just a quick and dirty way to do it.

[2021-02-27 15:56] gessic-apps opened #182 "Hiding resource based on permissions doesn't remove it from Sidebar"
Hi,

I'm using permissions as stated in #140   so that resources are hidden based on custom claims. Although this results in unauthorized users getting an error page "Either you typed a wrong URL, or you followed a bad link.." , it still appears as a clickable link in the side bar:

[code]

And here's the what it looks like (it works fine for actual admin users).:

<img width="1339" alt="image" sr

[2021-03-06 00:22] iamchenchen opened #184 "How to filter by time?"
I'm looking at examples from react-admin where it is use _gte and _lte.  Does anyone have an example of how it would work? Thanks!

[2021-03-09 18:56] DanielSanchez94 opened #185 "Involuntary login redirection | getPermission | authProvider | customRoutes"
**What I want**
I would have an Admin with the customRoutes property that would declare my customized login screens (they are accessed without authentication), on the other hand, the rest of the screens that I created, with the react-admin template (they are accessed with authentication) would show them to follow The permissions that the user has once logged in (I solve the authentication with fir

[2021-03-11 00:08] semonec opened #186 "ReferenceError: primordials is not defined"
While cloning this repository, trying to build, see this error.

**Reproduce**
[code]
**Environment**
* Mac OSX 11.2.1 (BigSur)
* yarn 1.22.10
* node 14.15.4

[2021-03-12 23:31] benwinding commented on #186
Hi @semonec,

Looks like a problem in another package in node_modules.

Try  `yarn install --frozen-lockfile` as this will ensure the exact dependencies are installed.

Cheers,
Ben

[2021-03-12 23:31] #186 closed

[2021-03-18 21:37] #184 closed

[2021-03-23 08:52] Maybach91 commented on #7
Got anybody something working? Are `<Resource/>` within `<Resource/>` working?

[2021-03-30 18:55] DanielSanchez94 commented on #185
Solved. my app.js is:

[code]

[2021-03-30 18:55] #185 closed

[2021-04-01 10:01] steventilator opened #188 "Exact matching for SelectInput"
By asking [a question on StackOverflow](https://stackoverflow.com/questions/66887793/react-admin-filter-with-selectinput-shows-wrong-values/66888803#66888803) I found out that `react-admin-firebase` always does fuzzy searching for string filters. In my case, the fuzzy search matched "inactive" as well as "active" if the value of the SelectInput was "active".

Is this the desired behaviour for Sele

[2021-04-06 18:22] DanielSanchez94 commented on #182
Hi, LET US KNOW IF I FOUND ANY SOLUTION. I HAVE THE SAME PROBLEM

REGARDS

[2021-04-07 00:08] benwinding commented on #182
Hi Guys,

This is a behavior of the default menu component for `react-admin`. And doesn't seem to change dynamically based on adding/removing resources with permissions for some reason.

If you'd like to hide the menu item for a resource you'll need to create a **custom menu** component and pass that into a **custom layout** component and pass that to the react-admin app instance. More details on

[2021-04-07 00:08] #182 closed

[2021-04-27 21:22] kiptoomm opened #189 "How to add doc ID as a field?"
Good day @benwinding,

I was looking at the [options docs](https://github.com/benwinding/react-admin-firebase#options) and it looks to me that I should be able to add an 'id' field matching a document's ID to its record. That is, with:

`dontAddIdFieldToDoc: false`

The current situation:
![Screen Shot 2021-04-28 at 12 19 29 AM](https://user-images.githubusercontent.com/1447912/116314156-6c22b600-

[2021-04-28 12:52] luisfuertes commented on #185
@DanielSanchez94 thanks for your feature. Can you tell me how can i add 'admin' own property to my users on firebase console? Thanks!

[2021-04-28 23:24] #189 closed

[2021-04-28 23:27] benwinding commented on #189
Hi @kiptoomm ,
Thanks for reporting the issue, yes that field wasn't being added automatically only removed.
Should be fixed in version `react-admin-firebase@3.2.18`
Cheers,
Ben

[2021-04-29 14:54] DanielSanchez94 commented on #185
Hi, you can not do that, but yes can do this:

[code]

[2021-04-30 07:36] luisfuertes commented on #185
In admin.createUser?

For example:
[code]

Or where i must add that?

[2021-04-30 07:49] luisfuertes commented on #185
Im trying that but it not works:
[code]

[2021-04-30 12:11] DanielSanchez94 commented on #185
Hi Luis. The role or permission of the user only makes sense to modify it from your api. **Not** in the frontend.

[2021-04-30 12:48] luisfuertes commented on #185
Yes, i want modify a user to get the role permission on front. (Only check to show some paths or not) but i dont know how set the role (from firebase admin or firebase console) to check it in front (react admin)

How can i do that?

[2021-05-04 19:25] moulie415 commented on #186
@benwinding your solution did not work for me however I was on node 14 and using nvm to switch to node 10 did the trick for me.

[2021-05-17 16:54] AustenLamacraft opened #191 "Update to firebase 8"
[firebase-web-react](https://github.com/firebase/firebaseui-web-react) recently updated to firebase 8. It seems the only breaking change is [this one](https://firebase.google.com/support/release-notes/js#version_800_-_october_26_2020) i.e. to use the default import

`import firebase from 'firebase/app'`

It looks like this should work out of the box, though I haven't tested it

[2021-05-21 09:46] dylanh724 opened #192 "FB oAuth allows ANYONE to register<>login. No whitelist opt?"
How to whitelist for FB oAuth?

* In the README example for u/p, user/pass is whitelisted.
* In the README example for FB oAuth, there is inconsistently no whitelist - which doesn't make too much sense for react-admin.

[2021-05-23 04:48] benwinding commented on #192
Hi @dylanh724,

What are you referring to here? Can you share the link to what you mean?

Anyway, what you're saying is a good point, but not easily fixed, if anyone has any ideas, let me know. I've never personally seen a system which whitelists Facebook or Github or any OAuth signups for that matter. Plus any whitelist, would be built into the client-side code and easily circumvented by an attac

[2021-05-23 06:08] dylanh724 commented on #192
On firebase auth section (where you setup FB login or email<>pass), for user+pass (by default) there's no registration page. You simply ADD an admin like shown:

![image](https://user-images.githubusercontent.com/8840024/119249996-9eb1aa00-bbcf-11eb-97fd-f420e8a72fef.png)

I figured FB would have something similar, but when you use **react-admin-firebase** for FB login, it just auto-registers them

[2021-05-25 21:07] ad-si opened #193 "Update to react 17"
https://github.com/facebook/react/blob/master/CHANGELOG.md

[2021-05-26 02:26] #193 closed

[2021-05-28 20:51] didrip opened #194 "[question] how to list Firebase users (from Firebase authentication) in react-admin?"
First Hi and thank you for this great plugin, I have used it in few projects and it is always such a breeze to connect it to Firebase, with file upload working out of the box on Firebase storage, could not be better!

I have one question though, I would like to display the list of users, right now I can only get the users collection (Firestore) which stores the profiles associated with each user,

[2021-05-29 05:02] benwinding commented on #194
Hi @didrip,
Thanks for the kind words!

This is a great idea and user-management is a common task that is needed for almost all applications. The problem is that the underlying firebase SDK does not give us access to the users in the authentication section of firebase.

We would need to use the `firebase-admin` SDK which can only run on a server. I've used the following code to get all users from

[2021-05-30 14:08] didrip commented on #194
Hi Ben, thank you very much, with this explanation and the cloud function + the code to add it to the `dataProvider` I have everything I need to implement the Users list.

Again it could not have been better, thank you again!

[2021-05-30 14:08] #194 closed

[2021-06-03 03:23] nathan815 opened #195 "Metadata fields in subcollection"
Unfortunately Firestore doesn't allow one to specify rules at the field level, meaning the metadata fields are publicly accessible. created_at and updated_at aren't too big of a deal, but updated_by and created_by are more concerning to have publicly accessible IMO.

It is [recommended](https://firebase.google.com/docs/firestore/security/rules-fields) to store private info in a subcollection becau

[2021-06-04 07:27] benwinding commented on #195
Hi @nathan815,

Well, this depends on the global rules you have. You could make the rules require the client is authenticated, which would mean the database is not public, like the following example ([source](https://firebase.google.com/docs/rules/basics#all_authenticated_users)).

[code]

That's a good point, I wasn't aware that Firestore recommended that, but it makes sense.

This is definitely

[2021-06-06 04:05] lynnlo opened #196 "react-admin-firebase not compatible with Referenced Autocomplete Inputs"
I was recently have some trouble while creating a form. The autocomplete works but the dropdown seems to disappear shortly after changing the input. After tweaking with the from a bit, I found that nothing worked until I changed the firebase data provider to another testing data provider.

Expected Behavior, using `ra-data-fakerest`.

https://user-images.githubusercontent.com/29586111/120911865-6b

[2021-06-09 00:05] nathan815 commented on #195
That's true, though for my use case I need the collection to be publicly readable. And even if the client were authenticated it may not be good for them to know who created/modified the data last.

I did realize this isn't as big of a deal when the `associateUsersById` option is enabled, though. It's more an issue when the email address is stored.

Great, would be happy to help out with this.

[2021-06-09 00:34] nathan815 opened #197 "Ability to provide a transform document function"
I think the ability to provide a function to transform documents before they are written to Firestore would be convenient. Something like:

[code]

If defined, whatever this returns for the given resource and document is what would be saved in Firestore.

My use case for this is transforming file fields from an object `{ "url": "..." }` to a simple string containing the URL, as this is how we've a

[2021-07-02 22:30] scraggo commented on #178
Thanks @benwinding 🥇

Using `firebase v8.7.x`, the above worked for me with a few small tweaks:

[code]

[2021-07-31 07:56] amaljoe opened #201 "DateInput is stored as String"
Timestamp object in firestore is read correctly as date and is showing date input for that field. But if I change the value and save, it is getting stored as String in the format 2021-02-05. Is it supposed to be like that? It should be a timestamp object, right?

[2021-07-31 13:39] amaljoe commented on #201
Using DateTImeInput solved the issue. But it also shows the time even though I dont want to show it to the user. So it will be better if it could work for the DateInput too.

[2021-08-12 07:15] Jerunnon opened #202 "Doesn't work with Firebase@9.0.0-beta.7"
I get the following error with the new Firebase version:

Could not resolve dependency:
peer firebase@"^7.9.x" from react-admin-firebase@3.2.24
node_modules/react-admin-firebase
  react-admin-firebase@"*" from the root project

Full error Report attached

[eresolve-report.txt](https://github.com/benwinding/react-admin-firebase/files/6973457/eresolve-report.txt)

[2021-08-19 06:32] OlivierVoyer opened #203 "SoftDelete option corrupts the list query"
"react-admin-firebase": "^3.2.24"

When I use the softDelete option with true in the FirebaseDataProvider options, I can observe 2 main consequences:

[code]

First, opening the list page is prompting me to create a new index in Firestore to be able to handle this query:

FirebaseError: [code=failed-precondition]: The query requires an index. You can create it here: https://console.firebase.google

[2021-08-19 07:19] OlivierVoyer opened #204 "List filters and sort cannot work together"
[code]

What I try is to have my list sorted by default by email values and then having a search filter on that same attribute.

As soon as I type something in the search field, I have the following error:

`FirebaseError: [code=invalid-argument]: Order by clause cannot contain a field with an equality filter email`

Note that the filter or sort are correctly working when used alone but the error

[2021-08-25 22:32] reijerteunis opened #205 "Can we please get fix-123 to master"
Hi,

First of all thanks for this contribution. Really appreciate the whole project you have build.

For my case in order to user it I would really need the DocumentReference in this project. Therefor is there an option to release the fix-123 branch?

Thanks,

Ruud

[2021-08-26 08:35] mermicode opened #206 "Question - Using Firebase Functions"
Hi there, sorry for raising my question on here - couldn't find any answers in docs or google.

I just wanted to ask, has anyone customised this to work with Firebase Functions? I have a number of Declarative Firebase Functions that act as middleware and business logic between my client and Firestore and want the App to interact with Firestore always by using Firebase Functions. Does anyone have a

[2021-08-30 01:07] lynnlo commented on #196
Applied suggested changes and it now works wonderfully, thank you both of you.

[2021-08-30 01:07] #196 closed

[2021-09-04 20:31] mshd opened #207 "Unhandled Runtime Error TypeError: Cannot read property 'length' of undefined"
components/ReactAdmin.tsx (39:44) @ ReactAdmin

![Screenshot from 2021-09-04 22-30-59](https://user-images.githubusercontent.com/17379661/132107305-78d02458-3a92-4796-802d-b6f3975e8aca.png)

I just use normal config, and empty options.
My config works fine in the demo rep, but not in my rep.
Any idea?

[2021-09-11 11:52] nicokant commented on #207
Had the same problem with the latest version of firebase, just provide the initialized firebase app to the options:

[code]

[2021-09-18 21:57] ricardojlrufino commented on #207
now i got:
TypeError: this.app.firestore is not a function

[2021-09-22 09:50] didrip commented on #194
For information this is how I have done it:

- Firebase cloud function `index.ts`:

[code]

- client `App.tsx`:

[code]

- `UserList.tsx` is pretty basic so far (I will tweak it later to change role but this is specific to my project).

[code]

[2021-09-22 17:18] kmihaltsov commented on #207
I had to downgrade firebase version to the latest 7.x
Haven't tested 8.x yet.

[2021-09-23 10:28] Jerunnon opened #208 "n.apps is undefined"
Hi,

first I love that you created this npm package and I know you put a lot of effort on it. But I can't get my hands on it. Because I don't how the data in Firestore has to be structured and why I get the error "TypeError: n.apps undefined". The error comes from the dataProvider, but I don't know what it means. So this is the code inside the component. I just created it for testing.

[code]

And

[2021-09-27 10:56] s-limo commented on #205
Maybe it is possible to disable Refence field parsing, or parsing at all? I get call stack error with lists containing reference fields
![image](https://user-images.githubusercontent.com/1849760/134895683-af378704-49c1-4f5d-88bf-38e1454bf131.png)
(unless this is different issue)

[2021-10-01 17:16] shreyas-jadhav commented on #206
I'm working on a package which should allow you to provide this functionality. I just started it yesterday and I'm looking for contributors who can help speed up the development. I have got bare amount of things working like returning the actual Firebase Users from Admin SDK. But nothing near to be usable in actual projects.

https://github.com/shreyas-jadhav/ra-next-firebase-provider

Most welcom

[2021-10-25 10:16] crevulus opened #210 "No data on first load"
I see a "No {collection-name} yet" message on first load, but if I refresh or switch tabs then the data loads.

See problem in attached gif.

![Oct-25-2021 12-08-15](https://user-images.githubusercontent.com/50107046/138677685-355b25dc-a4ab-4eeb-88f6-e3604ec6b751.gif)

**recreate**
1. Start a new project in line with the [demo on npm](https://www.npmjs.com/package/react-admin-firebase) and the [RA

[2021-10-25 14:41] crevulus opened #211 "FirebaseAuthProvider not running react-admin auth methods."
I'm trying to restrict permissions because I don't want any ol' user to get access to the admin panel.

I've implemented the custom login page from your demo, and have also extended the `authProvider` to set some custom methods. However, it seems like those functions are never run, becuase there are `console.log` statements in there that do not print to the console.

[code]

My references were thi

[2021-11-12 15:13] MaffooBristol opened #212 "Timeout property?"
Howdy

I've been working on dodgy train WiFi and mobile data over the past week and noticed how much it annihilates trying to load stuff from Firebase using this library. Is there a way to tell it to wait for much longer when trying to fetch data?

As a secondary, it appears to just act as if there's no data to load (You have not created any "model name"s yet, please add one) rather than stating i

[2021-11-23 17:55] abadrangui commented on #95
Hi, I'm still having same issue at 3.2.24.

Here i've activated the sorter, but when i scroll down
<img width="245" alt="Screen Shot 2021-11-24 at 01 52 02" src="https://user-images.githubusercontent.com/45628044/143078141-cdab5679-7a2d-4af8-ad29-48bfc558dbf0.png">

There is a sorting issue still.
<img width="262" alt="Screen Shot 2021-11-24 at 01 52 22" src="https://user-images.githubusercontent.

[2021-11-25 07:40] gpietro commented on #138
@benwinding what do you mean by login page included?
I setup the admin with the default login page and it works if in firebase I have no restrictions but when I set `allow read, write: if request.auth != null;` I get the same error.
Is the access required before the user login? how to solve this? why do you point to a customforgotpassword page?
Thanks

[2021-12-30 12:21] rafahoro commented on #207
Same issue here:
First I got "Unhandled Runtime Error TypeError: Cannot read property 'length' of undefined"
Then changed the options as suggested and got "TypeError: this.app.firestore is not a function".
I checked using ` "firebase": "^9.6.0"` in https://github.com/benwinding/react-admin-firebase-demo-typescript

Any help besides downgrading to 7.X?

[2022-01-02 19:11] mithleshk commented on #207
@rafahoro You may try this solution
https://stackoverflow.com/questions/69143642/firebase-apps-length-of-undefined#69143734

[2022-01-03 14:46] rafahoro commented on #207
@mithleshk thanks for answering. From my understanding, the solution in your link is for using Firebase directly (how to migrate to version 9). However in this case Im using it through react-admin-firebase, so the change (as I understand) is to be done in the react-admin-firebase source code (ie: I need to branch this project).

The SO answer suggest using
[code]
and thats OK. The problem is that

[2022-01-17 05:16] stephenhyde opened #213 "How to get access tokens"
Hey! I been digging everywhere and was hoping for some help. I easily setup this project to get apple and google sign-in working. I am having a hard time getting back the oAuth access tokens from apple or google. I can easily get the firebase JWT token but that is of no use to me. Am I missing an API here? Thanks.